[2021-01-14 11:52] kazlauskis opened #1 "About page"
- [x] Texts
- [x] Logos (sponsors, partners etc.)
- [x] Show only country specific logos

Text:

PoMSaims to provide much-needed data on the state of the UK’s insect pollinators, especially wild bees and hoverflies, and the role they fulfil in supporting farming and wildlife.

[PoMS logos.zip](https://github.com/NERC-CEH/fit-count-app/files/5844599/PoMS.logos.zip)

these shown when Cyprus is selec

[2021-01-14 11:53] kazlauskis opened #2 "Privacy policy & T&Cs"
Take from Funder project Contracts? Or UKCEH GDPR???

[2021-01-14 11:54] kazlauskis opened #3 "Website"
Create a Drupal8 website for user accounts.

[2021-01-14 12:41] kazlauskis opened #4 "Target Flower list"
* [x] list
* [x] images
* [ ] texts

[2021-01-20 17:25] kazlauskis commented on #1
@kitenetter do you know where to find the sponsor logos?

[2021-01-20 17:26] kazlauskis opened #5 "App splashscreen"
This is the picture that is shown for 2-5s when the app is loading. We can do something simple or alternatively, we can ask Heather to prepare something. This shouldn’t have the app name in it as this isn’t something we can dynamically change for countries.

[2021-01-20 17:28] kazlauskis opened #6 "Add Countries"
See mockup for options.

- [ ] On boarding screen
- [x] Settings screen option

- [x] List of supported countries in app version 1:
* UK
* Cyprus (Jodey check)
* Chile
* Argentina
* Brazil

[2021-01-20 17:29] kazlauskis opened #7 "Final app icon"
Small square image for app stores and device home pages

[2021-01-20 17:48] kitenetter commented on #1
@kazlauskis have emailed you

[2021-01-20 18:55] kazlauskis commented on #4
@kitenetter is the UK list the one in the iRecord form? Also, where can we find the flower images for profiles and selecting species from the list?
<img width="379" alt="Screenshot 2021-01-20 at 18 55 10" src="https://user-images.githubusercontent.com/7383162/105221472-118f1380-5b51-11eb-8354-6da54bcf8548.png">

[2021-01-20 19:07] kazlauskis opened #8 "Insect group illustrations"
We will be using illustrations from [here](http://plantecology.webs7.uvigo.es/iconos-de-grupos-funcionales-de-polinizadores/), but some of UK groups are missing or requires clarification:

species |  note
-- | --
Bumblebees  |
Honeybees | ❌
Solitary bees | Which one?
Wasps |  
Hoverflies |  Which one?
Other flies |  ❌
Butterflies and moths |  Butterfly or moth?
Beetles | Which one?
Small insects (

[2021-01-20 19:09] kazlauskis commented on #8
@kitenetter Do you know where to find the illustrations for the missing ones?

[2021-01-20 19:19] kazlauskis commented on #3
@BirenRathod we are following the same website set up procedure like for the other projects, is that right? When the dev site is ready then please give me admin access to it and let me know when I can install any of the extra modules. Cheers

[2021-01-20 19:30] BirenRathod commented on #3
@kazlauskis Everything is same at present.

[2021-01-21 09:58] Vilius-Stankaitis commented on #1
When Cyprus is selected should all logos appear or just those two?

[2021-01-22 00:14] BirenRathod commented on #3
@kazlauskis Dev site has created now, please register on it. I will then make you admin.
Here is the URL -> https://dev-ceh-fitcount.pantheonsite.io/

[2021-01-22 08:23] kazlauskis commented on #3
That's done now. Will you give me access on Pantheon as well?

[2021-01-22 09:16] BirenRathod commented on #3
@kazlauskis I have activated your account and made you admin now.

[2021-01-22 10:32] kazlauskis commented on #3
Thanks!

[2021-01-22 10:32] #3 closed

[2021-01-25 18:34] #6 closed

[2021-01-26 15:00] kitenetter commented on #8
Here is a file containing an illustration for each of the PoMS insect groups:
[insect line drawings.zip](https://github.com/NERC-CEH/fit-count-app/files/5874062/insect.line.drawings.zip)

Most of these come from Divulgare:
http://plantecology.webs7.uvigo.es/iconos-de-grupos-funcionales-de-polinizadores/

The two exceptions are for Honeybee and Aphid (which is what we use to ilustrate "Other insect

[2021-01-26 17:26] kitenetter commented on #4
The list for UK use is as shown on the recording form:
- Dandelion
- Buttercup
- White Dead-nettle
- Hawthorn
- Bramble/Blackberry
- Lavender (English)
- Common/Greater Knapweed
- Heather (Calluna or Erica)
- Hogweed
- White Clover
- Ragwort
- Thistle (Carduus or Cirsium)
- Buddleja
- Ivy

If needed we could simplify some of those names:
- Dandelion
- Buttercup
- White Dead-nettle
- Hawthorn
- **B

[2021-01-26 18:20] kitenetter commented on #2
Since the user accounts are being stored by UKCEH I think we will have to have something that is similar to the iRecord Privacy Notice, although other examples could be taken from the EBMS app or the European Ladybirds app.

There is no dedicated website for this app (other than the 'headless' website that we are using for the user accounts), so I think we will have to have the privacy notice stor

[2021-02-01 09:11] kazlauskis opened #9 "Change onboarding picture"
- [x] Add [Nadine](https://www.linkedin.com/in/nadine-mitschunas-02632760/?originalSubdomain=uk) to credits

From Claire:

![Andrena haemorrhoa_apple NadineMitschunas](https://user-images.githubusercontent.com/7383162/106437696-6db93800-646d-11eb-85e6-5ae2df8bd335.JPG)

[2021-02-10 11:03] #8 closed

[2021-02-12 16:01] #9 closed

[2021-02-19 11:16] #1 closed

[2021-02-24 15:43] kazlauskis opened #10 "Insect Group list"
* [x] list
* [x] thumbnail images
* [ ] species profile photos & annotations

**Example photos for honeybee species profile:**
![Honeybee_1](https://user-images.githubusercontent.com/7383162/109025509-b227a480-76b6-11eb-88c2-b4bdc07119a5.jpg)

![Honeybee_2](https://user-images.githubusercontent.com/7383162/109025704-e00ce900-76b6-11eb-90bd-ac3a15ab6417.jpg)

**Example annotations**
Group | picture

[2021-02-24 16:00] kazlauskis opened #11 "Integrate with Indicia warehouse1"
Set up the warehouse to accept records from the app.

[2021-02-24 16:02] kazlauskis commented on #11
@DavidRoy should we link to an existing iRecord POMS survey or should we create a new one?

[2021-02-24 16:23] DavidRoy commented on #11
@kitenetter to confirm but I believe we are moving to a website for 'Pollinator Monitoring Scheme' (website_id = 136) and a survey for FIT Counts (survey_id = 636)

copying in @andrewvanbreda so he knows this too

[2021-03-01 14:05] kazlauskis opened #12 "Hide the country selection and leave it UK by default"
This is for the first app release in April, we should be adding the other countries back in the Summer update.

[2021-03-01 14:10] kazlauskis opened #13 "Make user login mandatory for starting any survey"
At the moment, users can create surveys on their devices without having a user account.

[2021-03-01 14:36] kazlauskis opened #14 "Add onboarding screen texts"
What images and texts to use?

[2021-03-01 16:47] kitenetter opened #15 "User names"
User names should not be email addresses, see https://github.com/NERC-CEH/irecord-app/issues/203#issue-819051199

[2021-03-01 16:53] kitenetter commented on #2
Text now drafted and being reviewed via Teams with @DavidRoy and Claire

[2021-03-02 20:08] kitenetter commented on #4
@kazlauskis I've just sent you a set of 14 photos for the target flowers, via the UKCEH file transfer system. I've cropped the photos square, but haven't standardised the sizes. Let me know if you need me to do any further editing.

Some of the photos are better than others so let me know if you think any of them are not suitable. Most are mine or Nadine's, but !'ve included two sourced from wikim

[2021-03-03 09:23] kazlauskis commented on #4
Great, thanks!

@Vilius-Stankaitis I have put these in the shared folder.

[2021-03-04 06:51] #13 closed

[2021-03-04 06:51] #12 closed

[2021-03-04 17:43] CCarvell commented on #2
Martin - can you confirm where this 'text now drafted' is? Will we still have to have separate links to Privacy Policy AND T&Cs? The app registration page suggests this:
"_By clicking Sign Up, you agree to our Privacy Policy and Terms and Conditions_"

As the FIT Count app accounts website is:
fitcount.ceh.ac.uk
then we should probably link to the UKCEH privacy notice: https://www.ceh.ac.uk/privac

[2021-03-04 17:46] DavidRoy commented on #2
PoMs is a partnership project so the privacy notice should be freestanding, although can link to the UKCEH policy

[2021-03-04 17:55] kitenetter commented on #2
@CCarvell I added you to a Teams channel, which is where the draft Privacy Notice currently sits:
https://teams.microsoft.com/_#/school/files/PoMS%20and%20FIT%20Count%20development?threadId=19%3A397dc2f55a154936974a15c25e0b1901%40thread.skype&ctx=channel&context=PoMS%2520and%2520FIT%2520Count%2520development&rootfolder=%252Fsites%252FBRC-PoMSandFITCountdevelopment%252FShared%2520Documents%252FPoMS

[2021-03-04 17:59] CCarvell opened #16 "DEMO SURVEY PAGES NOT ACCESSIBLE?"
Hi Karolis,
A small technical issue but urgent if you are seeing this now?! I’m trying to collate and check a list of edits and issues that Martin and I identified yesterday for the FIT Count survey pages. BUT when I go in via the demo link below, I hit “Start survey” and it takes me straight to the Registration page. Tried a dummy registration but it won’t go through.
http://fit.app.flumens.io/de

[2021-03-04 18:15] CCarvell commented on #16
I managed to access the survey pages by going in through my draft survey from yesterday that was still visible. The issue with lack of access to survey pages via the Home tab is still there though!

[2021-03-04 21:27] CCarvell opened #17 "Survey - Location page"
We need to ensure that a resolution of at least the 1 km square level is located for each count – is it possible to enforce a minimum level of zoom in to the map?

Please add the following text “ “ behind the “READ MORE” button – but let me know if there is too much text for this box:

“Your location can be anywhere where there are flowers to attract pollinating insects, where you have permission

[2021-03-04 22:07] CCarvell opened #18 "Survey - Habitat page"
Add the word “one” so the top text reads “Select one **habitat** that is the best match.”

Habitat options need to be edited as follows so they match current form:
School grounds – add “s” to the end
Parklands with trees – should read “Parkland”, remove “s”
Waste ground – should read “Waste ground or brownfield site”
School grounds Farm crops or grassy pastures – remove this option, duplicated mis

[2021-03-04 22:28] CCarvell opened #19 "Survey - Target flower"
Species (in blue) – replace with “Target flower chosen”

After “Other” where it says “Manual entry” – replace this with “Other flower name” instead – on clicking this can we add text “Please type in the name of the target flower you have chosen then go back to the target flower page”

Note that Martin was unable to see the other flower option in the demo version he was viewing, is there a glitch h

[2021-03-04 22:41] CCarvell opened #20 "Survey - Target flower cover"
Please move this page to AFTER the flower type and number page

Edit top title text to say “What is the target flower cover in your 50x50 cm patch?
First option – change to “Less than half”
Second option – change to “Half of patch” – typo to correct
Third option – change to “More than half of patch” – typo to correct

Please can you add a box around the dots to represent the quadrat, as on current

[2021-03-04 23:03] CCarvell opened #21 "Survey - Number and type of flowers in patch"
Please BRING THIS PAGE BEFORE THE TARGET FLOWER COVER PAGE
Edit top title text to say “What are the type and number of flowers in your patch?

Put the number slider at the bottom, bring the 4 types up the screen.

Type – can this be pre-populated IF the selected flower is from the target flower list to ensure consistency? See list below.

Flower number – can we leave the slider with a max up to 20

[2021-03-04 23:16] CCarvell opened #22 "Survey - Is your patch of flowers.."
Edit top title text to say “Is your 50x50 cm patch of target flowers growing:”

Please add the following text behind the i info tab at the top:

“The surroundings of a flower patch can affect its attractiveness to insects. Please indicate the situation that best describes the area around your flower patch (roughly within 5 metres).”

[2021-03-05 11:40] kazlauskis commented on #21
The slider component is tightly coupled to the manual entry and +/- buttons at the moment and it works logarithmically for large numbers - allowing for precise sliding initially but then makes bigger increases the more you slide. Most of the times the user wouldn't be counting over 1000 flowers manually but estimating.

We can customise the component if this isn't good enough but I wonder if there

[2021-03-05 11:46] kitenetter commented on #21
The problem is that in previous years some FIT Counts have reported up to 5,000 individual flowers. In some cases this is likely to be a result of users misinterpreting what they are being asked to count, but there do seem to be genuine counts up to around 2,500 at least.

If we cap below that amount, what will users do if they do encounter a situation that genuinely has a larger number? I guess t

[2021-03-05 11:48] kazlauskis commented on #21
I see, I can make it 5000 if you are expecting numbers that hight.

[2021-03-05 11:53] kitenetter commented on #21
I'm inclined to go for 3000 I think.

[2021-03-05 15:42] kazlauskis commented on #4
@CCarvell @kitenetter I can't remember if we have decided to add a full flower list guide into the 1st version of the app or should we skip it and just use the photos for the Target Flower page in the survey?

[2021-03-05 15:59] kitenetter commented on #4
@kazlauskis the flower guide is a lower priority than the insect guide, and also requires more thought and re-working to make it suitable for within-app use. So I think all we can do at the moment is refer people to the online PDFs.

There are currently English and Welsh versions hosted on the UKCEH website, but the intention is to move them to the new PoMS website, but I don't yet know what the U

[2021-03-05 16:26] kazlauskis commented on #4
Thanks, I am closing this ticket then. We will remove the flower guide page and just leave the insect guide for this version. We can put the website link in the about/manual pages.

[2021-03-05 16:26] #4 closed

[2021-03-05 16:28] #16 closed

[2021-03-05 16:31] kitenetter opened #23 "Survey - insect count"
The current page 7 insect count has the insect groups divided into two pages, a block of six and a block of four.

**Ordering**
We'd like the groups to be ordered as follows:
Bumblebees - Honeybees
Solitary bees - Wasps
Hoverflies - Other flies

Butterflies and moths - Beetles
Small insects - Other insects

**Page scrolling**
Is it possible to make it more obvious that there is a second page? At t

[2021-03-05 16:41] kazlauskis commented on #11
I can link the mobile app to use the POMS website survey `636` but this survey asks for some attributes which we don't directly capture during the survey - FIT Count project, Recorder type, Mailing list permission, Difficulty of survey...

I wonder if it is not better to create an app-specific survey?

[2021-03-05 17:03] andrewvanbreda commented on #11
Hi @kazlauskis
Yes I think that is best, have an app specific survey. Have already assumed that would be the case.

[2021-03-05 17:33] kazlauskis commented on #11
For reference, I have now created a new survey: `641`. It will share all the relevant attributes with the POMS survey.

[2021-03-05 17:59] #7 closed

[2021-03-05 17:59] #5 closed

[2021-03-05 18:02] andrewvanbreda commented on #11
@kazlauskis Thanks Karolis, I have made a note of this ID in the website issue relating to this

[2021-03-08 14:26] kitenetter commented on #2
The text for the FIT Count app Privacy Notice needs to be added to the http://fitcount.ceh.ac.uk website, and then linked from the app. The text is here:

[FIT Count Privacy Notice v1.docx](https://github.com/NERC-CEH/fit-count-app/files/6101867/FIT.Count.Privacy.Notice.v1.docx)

Matters arising:
1. I have given the location of this notice as `http://fitcount.ceh.ac.uk/privacy-notice` - can Biren

[2021-03-08 14:34] kazlauskis commented on #2
I can link the app to whatever language page, is Biren doing the site?

[2021-03-08 14:35] DavidRoy commented on #2
I'll liaise with Biren to get http://fitcount.ceh.ac.uk/ setup

[2021-03-08 15:31] #22 closed

[2021-03-08 15:39] kitenetter commented on #2
The text for the FIT Count Terms of Use needs to be added to the http://fitcount.ceh.ac.uk website, and then linked from the app. The text is here:

[FIT Count Terms of Use v1.docx](https://github.com/NERC-CEH/fit-count-app/files/6102433/FIT.Count.Terms.of.Use.v1.docx)

Matters arising:
1. I have given the location of this notice as http://fitcount.ceh.ac.uk/terms - Biren to set up that page to st

[2021-03-08 15:51] #18 closed

[2021-03-08 15:51] #20 closed

[2021-03-08 17:06] kazlauskis commented on #17
What about setting a location outside of the UK? Is the GridRef 1km square restriction for UK users only?

[2021-03-08 17:33] DavidRoy commented on #2
@BirenRathod can you create pages for ../terms and ../privacy-notice on https://test-ceh-fitcount.pantheonsite.io/

[2021-03-08 17:37] kitenetter commented on #17
For UK use we just want to ensure that we don't end up with FIT Counts at very coarse resolutions. I imagine it will be similar for other countries (but they won't be using grid squares in the same way).

I assume that if using the device GPS the location will be set as precisely as the GPS allows, but if users add the location via the map we want to ensure that they zom in far enough to resolve t

[2021-03-08 21:17] CCarvell commented on #17
Karolis and Martin - thanks - the desired zoom resolution has not yet been discussed with Cyprus or S America but I would suggest that this is a good place to start. If counts are to be associated with geographical and/or habitat/ environmental features then 1 km or smaller scale would be needed (ie. ideally a 6-fig UK grid ref or equivalent).

[2021-03-08 23:16] CCarvell opened #24 "Survey - add intro page before count"
The intro alert will look like this:

<img width="367" alt="Screenshot 2021-03-11 at 16 07 32" src="https://user-images.githubusercontent.com/7383162/110817194-f5237380-8283-11eb-9021-4de8484d67af.png">

[2021-03-08 23:25] CCarvell opened #25 "Remove info button and add count minus button."
Remove info button and add count minus button.
<img width="325" alt="Screenshot 2021-03-11 at 16 11 21" src="https://user-images.githubusercontent.com/7383162/110818276-06b94b00-8285-11eb-9949-2d76b8bf91bf.png">

[2021-03-08 23:31] CCarvell opened #26 "Survey - Weather – Sun or shade page 9"
Replace the top question text with “How much sun fell on your patch during the FIT Count; was it:”

Then the 4 options

[2021-03-08 23:33] CCarvell opened #27 "Survey - Wind strength"
Correction of “is” to “was” so title reads “What was the wind strength?”

[2021-03-09 00:07] CCarvell opened #28 "About page"
Will this new text fit in to replace current?

“The Flower-Insect Timed Count (FIT Count) is a 10-minute survey designed to collect new data on numbers of flower-visiting insects.
FIT Counts are suitable for all, in urban or rural locations, and can be done at any time between the beginning of April and end of September.
Wild pollinators may have declined in the UK by more than 30% since 1980, but

[2021-03-09 00:08] CCarvell opened #29 "Credits page"
Slight tweak in wording “We are grateful to all the people who helped to create this app:”

Please add:
David Roy (UKCEH)

Question – how do we acknowledge minor contributions from PoMS team members? There are more UKCEH people but the list will become too long!

Under Graphics please add:
FIT Count logo: Heather Harris (UKCEH)

[2021-03-09 00:10] CCarvell opened #30 "Register page"
How did you hear about FIT Counts?

Claire to provide final list for selection

Identification experience - there are only 2 options here - can we have all 4 options on the current FIT Count form?

[2021-03-09 08:58] DavidRoy commented on #30
You could remove 'I am' from each option to reduce text?

Ideally this text would all appear on a single option box?

[2021-03-09 09:01] kazlauskis commented on #30
Thanks, we'll remove the 'I am'. What's the single option box you mean?

[2021-03-09 09:05] DavidRoy commented on #30
Thanks.  I mean that the text all appears without the need to scroll.  So users don't miss the 4 choices

[2021-03-09 09:11] kazlauskis commented on #24
Do you want to show this intro page on every survey? I don't think we need any background images for the count page, on small screen devices it would then look too busy. We could change the colouring though.

[2021-03-09 09:14] kazlauskis commented on #25
In one of our early meetings, we have decided that the `info` icon would act as a button that would open the insect profile with options to change the count number manually at the top of it. Is that no longer the case?

[2021-03-09 09:18] kazlauskis commented on #17
Thanks, we will restrict the location selection to a certain zoom level then.

[2021-03-09 09:41] CCarvell commented on #24
Yes please, show this holding page on every count, but those who have done it before can hit "Start count" straight away.
No problems with changing colour, but if you think there is a good colour that breaks up the survey a bit, we could try it.

[2021-03-09 09:52] kazlauskis commented on #25
Where would you like to have the number change option added then? Instead of an icon, we could use a long-tap to open up an extra screen with further options.

If we want to show 6 species per page then there wouldn't be enough space for a note above the species tiles on small-screen devices.

[2021-03-09 09:53] CCarvell commented on #24
We think it's best to have control on the count page itself, but the key thing for the count page is to be able to pause if needed.
This is why I suggested the text "When you are ready, select ‘Start count’ – you will have a chance to start and pause the timer on the next page"
I can see this being helpful to people using the app in groups, where they are training or using it for the first time. S

[2021-03-09 09:57] kazlauskis commented on #24
OK, we can keep the countdown deactivated when the user opens up the count page then.

[2021-03-09 10:22] BirenRathod commented on #2
@DavidRoy & @kitenetter Those links have been created and placed at the footer.

@kazlauskis Let me know when you ready to go for live, so I can point website to fitcount.ceh.ac.uk URL

[2021-03-09 10:26] DavidRoy commented on #2
Thanks @BirenRathod
We can go live with this site as it's easier to test everything

[2021-03-09 10:43] BirenRathod commented on #2
Thanks @DavidRoy. Ok, I will let you soon about it.

[2021-03-09 13:06] CCarvell commented on #25
Ideally we would have the simplest display possible to allow users to tally the count but also to change their choices if a mistake is made (ie so you can plus or minus) without any complex long tap option. Sorry I'm probably not understanding the options very well, probably best to demo at the meeting if possible.

[2021-03-09 13:30] Vilius-Stankaitis commented on #28
Can I use this logo for Daera?
![DAERA.png](https://zube.io/files/nerc-ceh/9d3fe102d392b7ed83a8a0110ba553de-daera.png)

[2021-03-09 13:45] BirenRathod commented on #2
@DavidRoy  Translation pages have added now. However the text in those pages still in English, so may be require to translate.

[2021-03-09 14:21] BirenRathod commented on #2
@kitenetter I made you Admin, so you can implement that now.

[2021-03-09 14:55] CCarvell commented on #28
@Vilius-Stankaitist this is the Deara logo that I have been asked to use - not sure if it matches your version but was supplied by Daera for us. I also have an EPS version that won't attach here if that is preferred.
![A4 DAERA Logo process with correct spacing](https://user-images.githubusercontent.com/44494345/110489459-5530e300-80e7-11eb-987f-b65f00bdc9f2.jpg)

[2021-03-09 14:56] kitenetter commented on #28
@CCarvell Biren has said that it is best to use ukpoms.org.uk, but www.ukpoms.org.uk will also work.

[2021-03-09 15:08] BirenRathod commented on #28
@kitenetter yes, that is correct

[2021-03-09 15:12] kazlauskis commented on #28
OK, we'll use the `ukpoms.org.uk` then.

[2021-03-09 15:18] #21 closed

[2021-03-09 15:18] #27 closed

[2021-03-09 15:18] #26 closed

[2021-03-09 15:18] #17 closed

[2021-03-09 15:25] #30 closed

[2021-03-09 16:10] #28 closed

[2021-03-09 23:02] kitenetter opened #31 "Insect guide photos and text"
@kazlauskis the zip file below contains photos for each insect group, and text annotations for all groups are in one spreadsheet.

Let me know if anything is unclear or needs to be presented in a different way.

[FIT Count app insect guide.zip](https://github.com/NERC-CEH/fit-count-app/files/6111894/FIT.Count.app.insect.guide.zip)

[2021-03-10 08:01] kazlauskis commented on #31
Thanks!

[2021-03-10 09:47] CCarvell opened #32 "App screen shots for Funder update"
@kazlauskis @Vilius-Stankaitis is there any chance you could send me **4-5 screen shots from the current version of the app demo** please? The Funders are asking for an update - and our Defra project officer has her last day TODAY so I would like to provide this today if possible....sorry!
The opening screen with FIT Count logo and Start Survey, plus a couple of survey screens (incl insect count p

[2021-03-10 09:49] kitenetter commented on #32
I can sort this out Claire, based on screenshots from https://fit.app.flumens.io/demo.html (I assume that is all you need?).

[2021-03-10 10:00] kitenetter commented on #32
@CCarvell here are some screenshots.

[App screenshots 2021_03_10.zip](https://github.com/NERC-CEH/fit-count-app/files/6114939/App.screenshots.2021_03_10.zip)

[2021-03-10 10:01] CCarvell commented on #29
Are we expecting this Credits page to be edited and translated for Cyprus and S America? I think it willl have to be for flexibility and alternative photo credits etc, but also we should acknowledge the contributions of Francisco et al and other projects to the overall app concept.

I agree with Martin re PoMS team as it is too big - how about generic acknowledgement to the project teams involved:

[2021-03-10 10:03] CCarvell commented on #32
perfect thank you Martin! I thought Flumens might have a different/ quick way of exporting app screen images but this is ideal.

[2021-03-10 10:04] DavidRoy commented on #29
I think it's simpler to have a single credits page. I agree on the generic project acknowledgements plus naming individual photographers

[2021-03-10 10:05] kitenetter commented on #32
Closing.

[2021-03-10 10:05] #32 closed

[2021-03-10 10:11] kazlauskis commented on #29
I agree, let's keep it on a single page for now. Do we need to translate the project names?

[2021-03-10 10:22] CCarvell opened #33 "Show thank you message after the survey"
This will look like this:

<img width="370" alt="Screenshot 2021-03-11 at 16 05 00" src="https://user-images.githubusercontent.com/7383162/110816906-ae357e00-8283-11eb-8330-a04b364acd2b.png">

Email dialogue fo

Thanks all, and Martin did a great job of quickly generating the averages.

I think the intention was to focus on developing the feedback and visualisation tools within the UK PoMS website

[2021-03-10 17:24] BirenRathod commented on #2
@DavidRoy , @kitenetter , @kazlauskis & @CCarvell
Just to let you know that fitcount.ceh.ac.uk is live now.

[2021-03-11 11:42] kazlauskis commented on #14
@CCarvell have you had a chance to think about what you'd like to say in the app onboarding screens? some examples below:

![image](https://user-images.githubusercontent.com/7383162/110782195-bfb85f00-825e-11eb-8bed-00de5e11ff8c.png)
![image](https://user-images.githubusercontent.com/7383162/110782206-c34be600-825e-11eb-8962-f50d8b9ff149.png)
![image](https://user-images.githubusercontent.com/7383

[2021-03-11 14:14] CCarvell opened #34 "Habitat survey page"
Remove duplicate of "Farm crops and grassy pastures" near the bottom of the list

[2021-03-11 15:27] #31 closed

[2021-03-11 15:58] kazlauskis commented on #15
We'll set it to the account email for now.

[2021-03-11 15:58] #15 closed

[2021-03-11 16:07] kazlauskis commented on #33
Average insect numbers:

[feedback insects per count.xlsx](https://github.com/NERC-CEH/fit-count-app/files/6124332/feedback.insects.per.count.xlsx)

[2021-03-11 16:17] kazlauskis opened #35 "Add How To page"
- [x] Remove current About page to Menu
- [x] Add How To page placeholder in the bottom tabs
- [x] Add bullet point texts

[2021-03-11 16:20] kazlauskis opened #36 "Change 'Happy to be contacted' to default to NO"

[2021-03-11 16:22] kitenetter opened #37 "App registration - drop "how did you hear about" question?"
I know we've discussed this before, but this list is still problematic, because:
- The current list is out of date
- It will cause additional complications for translation and for multiple countries
- It adds to the length and complexity of the registation process, and is therefore a potential barrier to engagement

I would propose that we drop this question, and instead rely on seeking feedback f

[2021-03-11 16:26] CCarvell commented on #33
Suggest a slight edit to the text:

"You counted X insects altogether - the UK average for [month] is Y insects per count."

[2021-03-11 16:35] DavidRoy commented on #37
I definitely agree on this

[2021-03-11 16:49] CCarvell commented on #37
I agree to dropping the question.
I had been working up the list of other organisations/ projects to add but starting to see the pitfalls myself. Had some dialogue with Matt Heard at National Trust - who want to use FIT Counts - but his answer was:
"I think from our point of view it’s most useful if the app had a tag for records on our land i.e. each count, the unwieldy bit. In terms of utility to

[2021-03-11 16:50] CCarvell commented on #29
@kazlauskis I do not think these project names need translating to Welsh, if that is what you mean

[2021-03-11 16:51] kitenetter opened #38 "Insect ID guide - changes to layout of text"
Species groups should be ordered in same way as in the survey:
Bumblebees - Honeybees
Solitary bees - Wasps
Hoverflies - Other flies
Butterflies and moths - Beetles
Small insects - Other insects

Edits needed to bring the bullet points to the top of each page (let me know if you want this in a spreadsheet instead):

**Bumblebees screen 1:**
Move text box to bottom.
Delete "Look out for:"
Remove "D

[2021-03-11 16:55] kitenetter commented on #37
@CCarvell NT do access species records from iRecord that fall within their land, but this does not include the PoMS data, which is not shared in this way.

We don't have a good answer to providing PoMS data for multiple landholdings but I think we had previously agreed that is outside the scope of current work.

[2021-03-11 17:01] DavidRoy commented on #37
I agree that providing access to partners is a secondary question.  We 'could' do something like the iRecord-NT download but would need a bit of thinking through.

Maybe raise a separate issue for this under PoMs as it's not relevant to the app

[2021-03-11 17:08] CCarvell commented on #37
Let's keep the 'partner/ group downloads' for a future phase. I was simply checking that individual users can access their own data, such that groups of individuals can, if they wish, come together to pool their counts if part of a project where they want to view a set of counts collectively (e.g. to compare with national averages or to compare between their own sites or years). Examples who may w

[2021-03-11 17:14] kitenetter commented on #19
On this page, where it says "Photos", change to:
Photo of your target flower

[2021-03-11 18:09] CCarvell commented on #38
Great work - agree with removing "Description" subheads etc. I am happy to approve all the insect ID guide pages.

Three small edits:
1. Species names - some of the text includes species names but they are not showing in italics. eg. within Hoverflies, _Volucella zonaria_.  within Other flies _Chloromyia formosa_. Can you put species names in italics?

2. Typo in Hoverflies screen 2: correct "hony

[2021-03-11 18:24] kitenetter commented on #14
Here are mock-ups of two onboarding pages.

@CCarvell please confirm you are happy with the content
@kazlauskis please confirm that this looks practical to implement

I will then send photo and text.

![Splash 1](https://user-images.githubusercontent.com/16039111/110835671-01fd9280-8297-11eb-9adc-74ad268b80d8.png)

![Splash 2](https://user-images.githubusercontent.com/16039111/110835691-075add00-8

[2021-03-11 18:28] CCarvell commented on #14
Brilliant! Happy to approve with one minor edit:
"check out the insect ID guide" rather than pollinator?

[2021-03-11 18:33] kazlauskis commented on #37
Thanks, we'll remove the question from the registration then.

[2021-03-11 18:35] kazlauskis commented on #19
Thanks, we'll change this.

[2021-03-11 18:41] kazlauskis commented on #14
Thanks, that looks good.

[2021-03-11 18:47] kitenetter commented on #14
@CCarvell I was trying to be 'international' and refer to pollinators rather than insects, but it is difficult to be consistent about this in the context of the FIT Count, and I've used "insects" in point 4. I will change "pollinators" to "insects".

[2021-03-11 18:51] CCarvell commented on #14
This it tricky - as it got me thinking that we don't really make it clear in the ID guide that spiders and other non-insect flower visitors for UKPoMS are not to be included.
Let's make it fit for purpose for UK, Cyprus and rest of EU will probably also stick with insects (rather than birds and bats etc being added) and we can review phrasing for the S American version later.

[2021-03-11 18:59] kitenetter commented on #14
Text and photos:

[onboarding.zip](https://github.com/NERC-CEH/fit-count-app/files/6125362/onboarding.zip)

(The photo is the original and will need cropping.)

[2021-03-11 19:06] kitenetter commented on #35
Text for 'how to' page:

[FIT Count quick guide text.zip](https://github.com/NERC-CEH/fit-count-app/files/6125400/FIT.Count.quick.guide.text.zip)

I've tried to make it as short as I can but let me know if you think it is still too long!

[2021-03-11 19:13] kitenetter commented on #35
Sorry, minor edits, have deleted previous version:

[FIT Count quick guide text.zip](https://github.com/NERC-CEH/fit-count-app/files/6125430/FIT.Count.quick.guide.text.zip)

[2021-03-11 19:26] kitenetter commented on #24
We discussed changing the text for this pop-up page. Will this work or is it still too long:

You are now ready to start your FIT Count!

- Count every insect that lands on the target flowers (ignore other flowers, and do your best to count each individual insect once only!).
- Tap on the insect images to increase your count (use the minus buttons if you need to decrease the count).
- If you are n

[2021-03-11 19:35] kazlauskis commented on #24
Thanks, if possible, I would shorten this still. In the Welsh language, some English texts will expand and if we want to present all the bullet points without scrolling down then I would at least remove the last sentence which I don't think is necessary.

<img width="369" alt="Screenshot 2021-03-11 at 19 31 38" src="https://user-images.githubusercontent.com/7383162/110843613-683ae300-82a0-11eb-93f

[2021-03-11 20:37] kitenetter commented on #24
Can we go with:

The timer will now start!

    Count every insect that lands on the target flowers (count each individual once).
    Tap the insect images to increase your count (minus buttons will decrease the count).
    If you don't know which insect group, add to the "Other insects" category.

[2021-03-11 20:59] CCarvell commented on #24
I'm happy with this shortened version from @kitenetter and good to have the tap and minus buttons explained.

[2021-03-12 11:30] Vilius-Stankaitis commented on #14
minor changes, is it okay?

![Screenshot 2021-03-12 at 11.22.59.png](https://zube.io/files/nerc-ceh/1272abf4e0b2cf77b590f58a601a8ef6-screenshot-2021-03-12-at-11-22-59.png)

![Screenshot 2021-03-12 at 11.22.53.png](https://zube.io/files/nerc-ceh/51789e584b63cf2c7772bdc9e1776a17-screenshot-2021-03-12-at-11-22-53.png)

[2021-03-12 11:41] #37 closed

[2021-03-12 11:41] #36 closed

[2021-03-12 11:50] #19 closed

[2021-03-12 11:50] #29 closed

[2021-03-12 11:50] #34 closed

[2021-03-12 12:22] kitenetter commented on #14
Typo: the word "Count" should not appear at the end of bullet point 2.

Otherwise looks great!

[2021-03-12 12:23] kitenetter commented on #10
I think we can close this.

[2021-03-12 12:23] #10 closed

[2021-03-12 12:24] kitenetter commented on #2
I think we can close this.

[2021-03-12 12:24] #2 closed

[2021-03-12 12:30] #14 closed

[2021-03-12 17:40] kazlauskis opened #39 "Should we submit zero abundance occurrences?"
At the moment, we don't upload occurrences with 0 counts, should we instead upload those too?

[2021-03-12 17:52] kitenetter commented on #39
On the website we don't store **occurrences** with zero counts - no occurrence is created unless an insect group has a count of >=1. It is not possible to enter a count of zero.

However, we definitely to want to store **samples** that have no occurrences, i.e. when no insects were seen at all.

[2021-03-12 17:53] kazlauskis commented on #39
Great, thanks!

[2021-03-12 17:53] #39 closed

[2021-03-15 09:14] #38 closed

[2021-03-15 09:23] #35 closed

[2021-03-16 11:02] #24 closed

[2021-03-16 15:51] #33 closed

[2021-03-16 15:51] #25 closed

[2021-03-16 16:22] CCarvell opened #40 "Record start time of FIT Count"
A quick question about the start time of each FIT Count (ie. time of day 11:30am when the count is conducted). This data is not entered by the app user, but is it recorded when the count is complete? Will the app retain the time the count was conducted, not the time it was uploaded when online?  sorry if this has already been covered.

[2021-03-16 16:27] kazlauskis commented on #40
Yes, we do capture this automatically. When the user taps 'Start count' in a pre-count page then we capture the time of day and upload this alongside other survey attributes.

[2021-03-16 16:27] #40 closed

[2021-03-18 16:33] kitenetter opened #41 "Edits to make the app less UK-specific: About and Credits"
Based on our discussion earlier.

The Word doc below has edited text for these two pages. I have made the text more generic, and have listed the projects that use the app on the "About" page, and the projects whose funder have funded the app on the "Credits" page. Those two lists are currently very similar but could change as more projects come on board. I have not listed individual funders.

[Pag

[2021-03-18 16:36] kitenetter opened #42 "Link to Privacy notice and Terms of use"
- [x] The current link to the Privacy Notice goes to an incorrect URL (https://fitcount.ceh.ac.uk/privacy-policy). It should go to:
https://fitcount.ceh.ac.uk/privacy-notice
- [x] For Welsh users it should point to `https://fitcount.ceh.ac.uk/cy/privacy-notice` both in the registration page and the menu.
- [x] Ideally we should also give a link to the Terms of use:
https://fitcount.ceh.ac.uk/terms

[2021-03-18 16:49] kitenetter opened #43 "Guidance for country-specific pollinator guides"
Questions for @kazlauskis

If another country is producing an pollinator guide, they may wish to replace the photos we have used with photos of species from that country.

How much (if any) flexibility do they have with the numbered features? For instance, if the UK photo has five numbered points, will the Cyprus photo also have to have five numbered points?

If the UK guide has three photos of so

[2021-03-18 16:51] kitenetter opened #44 "Title for pollinator groups ID guide"
The ID guide currently has the title "Insect Groups".

For global use this should be changed to "Pollinator Groups".

Assuming we change this now, it will need translating into Welsh.

[2021-03-18 17:26] CCarvell commented on #41
@kitenetter really appreciate you picking this up - I have been in another meeting! I will take a look and comment this evening.

[2021-03-18 18:45] kazlauskis commented on #42
Thanks, we'll add the Terms link in the menu too.

[2021-03-18 19:11] kazlauskis commented on #43
In short, this is the complexity I am trying to avoid. That is, partially editing species profiles, which will complicate the setup a lot. This is kind of a bit technical but I think the best way forward would be to treat a species entity (profile) as a unit that could not be split up and partially changed for different countries. At the moment, a species entity consists of things like `internalID

[2021-03-18 19:18] kazlauskis commented on #41
Looks good from my perspective. I think you can use symbols like the info icon in the text.

[2021-03-19 00:01] CCarvell commented on #41
I agree with Martin's excellent edits and have added a couple of minor Track changes here:
[Page.edits.to.remove.UK.focus_CC.docx](https://github.com/NERC-CEH/fit-count-app/files/6167784/Page.edits.to.remove.UK.focus_CC.docx)

Note that as inferred, point 2 in the i icon Quick Guide, may need to be changed for different countries with alternative seasons.
Here is the SURPASS logo.
![surpass_logo_3

[2021-03-19 00:03] CCarvell opened #45 "Fit change to FIT on app store"
Please can we change it to FIT Count (capitals) and not Fit Count in the app store?

[2021-03-19 17:33] CCarvell opened #46 "2nd Onboarding screen check for title showing on Beta version"
The 6-point FIT Count how-to page that is the second onboarding screen is cutting off the title on my iPhone 8 screen. Just see the bottom of the pink bold text.

[2021-03-21 13:05] DavidRoy opened #47 "replacement login email"
currently comes from vilius@flumens.io

@kitenetter do we have a fitcount@ceh.ac.uk email - which is probably the most appropriate?

[2021-03-21 13:07] DavidRoy opened #48 "cannot login"
Can't login to the FIT Count app, even after reset of email.  I can login to https://fitcount.ceh.ac.uk/ ok

[2021-03-21 15:19] kazlauskis commented on #48
Try it again now, the account username has diverged from the email so you weren't able to log in. We have a task to fix this before the public release.

[2021-03-21 18:02] DavidRoy commented on #48
thanks, is the username needed for login?

[2021-03-21 18:02] #48 closed

[2021-03-21 18:05] DavidRoy opened #49 "Placename search on map page?"
It would help to have a placename search on the map to help locate sample location

[2021-03-21 18:09] DavidRoy opened #50 "Make it more obvious that photo needed of target flower"
Does it need to be made more obvious on the focal plant page that a plant photo is needed as well as selecting the plant name?

[2021-03-21 18:15] DavidRoy opened #51 "Arrow at bottom of insect page?"
On the insect count page, count there be a downward facing arrow on the first page to show that there are more insect categories on the second page.  The two dots are helpful but subtle.

Or maybe just a guide on first use of the page?

[2021-03-21 18:17] DavidRoy opened #52 "Count does not upload"
@kazlauskis I've completed a count but it does not upload.  I have a good connection.
It just shows the survey page with the 'upload' button.

Should there be a message if upload is unsuccessful?

Tried at 18:16 on 21/3/21 if you want to check the logs.

[2021-03-21 18:30] kazlauskis commented on #48
Yes, the authentication spec requires it to be a username so app login matches it with email. We will be changing this so that it is more robust and the authentication would be using the email instead - users will be able to set any username which we won't use in authentication.

[2021-03-21 18:32] kazlauskis commented on #52
Thanks, we'll look into this.

[2021-03-21 18:48] kazlauskis commented on #50
Agree, we'll make it clearer.

[2021-03-21 18:49] kazlauskis commented on #51
Thanks, we'll improve this.

[2021-03-22 09:31] kitenetter commented on #47
We don't have a fitcount@ address, I thought we had agreed that the brc@ address would be used. The alternative would be the poms@ address.

Do you want me to request a new fitcoutn@ address (I think there's an embargo on doing this until the email system has been switched over).

I'm inclined to use brc or poms if we can, simply to avoid having yet another email box to have to keep checking.

[2021-03-22 10:29] #42 closed

[2021-03-22 10:29] #44 closed

[2021-03-22 11:41] kazlauskis commented on #52
@DavidRoy could you please try to upload your survey again now?

[2021-03-22 11:48] DavidRoy commented on #52
success :-)

[2021-03-22 11:52] kazlauskis commented on #52
Yay 🎉 The reason you couldn't upload is that the account was created through the website rather than the app.

@BirenRathod do you know if it is possible to disable the user registration on the FIT Count website?

[2021-03-22 11:57] DavidRoy opened #53 "website home page"
@BirenRathod

can you make https://fitcount.ceh.ac.uk/home the home page please at https://fitcount.ceh.ac.uk/

[2021-03-22 11:58] DavidRoy opened #54 "website logo"
@BirenRathod

Can you add this logo to https://fitcount.ceh.ac.uk/ replacing the default drupal logo

![FitCountLogo](https://user-images.githubusercontent.com/2699478/111986392-cddf6880-8b05-11eb-847b-7d8f3126f86e.jpg)

[2021-03-22 11:59] DavidRoy commented on #53
I've done this now, realising how to do it :-)

[2021-03-22 11:59] #53 closed

[2021-03-22 13:02] BirenRathod commented on #52
@kazlauskis I have disabled the user registration form.
@DavidRoy I have enabled the Captcha, so it will stop creating spam user.

[2021-03-22 13:19] BirenRathod commented on #54
@DavidRoy Logo has been added now.

[2021-03-22 13:21] BirenRathod commented on #53
Thanks, @DavidRoy. It has just needed the capital H in the title. Implemented now.

[2021-03-22 14:54] #45 closed

[2021-03-22 17:16] kitenetter commented on #49
I agree that a placename and/or postcode search would be useful if possible.

@kazlauskis I think you said that we could adjust the zoom level at which the location becomes accepted. If so, I think we should make the threshold one level lower (or is it higher?) than it currently is - i.e. so you don't have to zoom in quite so far. Hopefully if we allow one more level we'll still get a reasonably p

[2021-03-22 17:25] kitenetter opened #55 "Allow the "Other" flower name to be skipped?"
At the moment, if you select "Other" as your target flower, you have to type in a name for the species, under the heading "I know the species"

1. Suggest that we change from "I know the species" to "Please add the name of the flower".
2. It isn't obvious that this is a mandatory field; hopefully the above re-wording will help explain this, but I wonder if it is possible to provide an option for "

[2021-03-22 19:19] kazlauskis commented on #55
Thanks, we'll change the wording. In the future, it would be easy to add an 'unknown' option to the list too.

[2021-03-22 19:21] kazlauskis commented on #55
@Vilius-Stankaitis can you please add the `(required)` to the mentioned heading - like we're doing it now for other pages.

[2021-03-22 19:23] kazlauskis opened #56 "Make the required map zoom one level higher"
I think we should make the threshold one level lower (or is it higher?) than it currently is - i.e. so you don't have to zoom in quite so far. Hopefully if we allow one more level we'll still get a reasonably precise location (the current level of zoom-in seems to produce a very precise location, more precise than we need).

From NERC-CEH/fit-count-app#49

[2021-03-22 19:54] kazlauskis commented on #49
Yes, we could add this in.

I can see that iRecord forms use [OSM geocoding](https://operations.osmfoundation.org/policies/nominatim/), with its limitations it isn't really good for apps, do you have some other existing [geocoding](https://gisgeography.com/geocoders/) service we could use for this?

We're currently using Mapbox mapping tiles in the apps, it also has a geocoding service with [100K/

[2021-03-22 20:20] DavidRoy commented on #49
Mapbox seems a good option.  I doubt we'd get high usage as most people will rely on GPS location?

[2021-03-22 20:54] kazlauskis commented on #49
Thanks, we'll start the work on the placename search then.

[2021-03-24 09:50] #56 closed

[2021-03-24 10:00] #55 closed

[2021-03-24 10:37] #50 closed

[2021-03-24 10:57] #41 closed

[2021-03-24 15:44] kazlauskis commented on #46
@CCarvell we have tried to reproduce this on various devices, including the iPhone 8, but no luck so far. Would it be possible for you to attach a screenshot of the page on your device? Also, do you have some accessibility settings changed in your device settings like font size increased or device resolution changed? Thanks!

[2021-03-24 15:59] CCarvell commented on #46
@kazlauskis This was the screenshot I took when I downloaded the app and noticed the issue. I have font size enlarged due to an eye issue, so perhaps that's what has caused the issue. Please ignore if it doesn't seem important.
![onboarding](https://user-images.githubusercontent.com/44494345/112342249-f9a34f80-8cb9-11eb-886d-dd474a93efc5.png)

[2021-03-25 13:52] kazlauskis commented on #52
@BirenRathod it looks like the registration was disabled for mobile users as well, could you please only disable this for the website - may be just hiding the registration page form rather than disable it fully. Thanks

[2021-03-25 13:57] kitenetter opened #57 "PoMS-Ky logo not displaying correctly"
On the [app demo](https://fit.app.flumens.io/demo.html) credits page, the PoMS-Ky logo is missing the flower for the "o":

![image](https://user-images.githubusercontent.com/16039111/112484644-07b4a700-8d72-11eb-8413-6732de43ae00.png)

[2021-03-25 14:12] Vilius-Stankaitis commented on #57
Hi, if you could give me one, I will change it

[2021-03-25 18:40] BirenRathod commented on #52
@kazlauskis I have implemented the settings now, can you check if it is working fine?

[2021-03-25 19:16] kitenetter commented on #57
New versions of the PoMS-Ky logo here:

[PoMSKy_new_logos.zip](https://github.com/NERC-CEH/fit-count-app/files/6207283/PoMSKy_new_logos.zip)

[2021-03-26 10:23] kazlauskis commented on #52
Thanks Biren, the app registration is working now.

[2021-03-26 10:23] #52 closed

[2021-03-26 11:10] kazlauskis commented on #46
Ah, thanks! We have now pushed a fix that should improve this.

[2021-03-26 11:10] #46 closed

[2021-03-26 11:16] #57 closed

[2021-03-26 13:59] kazlauskis commented on #51
We've done this now. Made the list continuous but still sticky, so the species should appear in the same positions between the swipes.

Here is how it looks now (temporarily added blue and green to show different slides)

https://user-images.githubusercontent.com/7383162/112642396-2d59b300-8e3b-11eb-9a94-e31b3c54730a.mov

[2021-03-26 13:59] #51 closed

[2021-03-26 16:51] kazlauskis commented on #49
When the user selects a suggested placename I assume you don't want to auto-select the centroid location of the place only zoom-in to the selected area, is that correct?

[2021-03-26 16:52] kitenetter commented on #49
Correct.

[2021-03-26 17:59] kazlauskis opened #58 "App screenshots for app stores and other marketing"
Vilius and I have thought it would be nice to generate some pretty screenshots for the app stores and similar. Are you OK with these headlines over the screens?

![Simulator Screen Shot - iPhone 8 Plus - 2021-03-24 at 13 23 10_home_framed](https://user-images.githubusercontent.com/7383162/112672909-01025e80-8e5c-11eb-9882-9d85b45ff95d.png)
![Simulator Screen Shot - iPhone 8 Plus - 2021-03-24 at 14

[2021-03-26 18:24] kitenetter commented on #58
Thanks @kazlauskis they look good.

Three suggestions:
The map location looks a bit remote and potentially lacking flowers! Maybe use a suburban setting so there are gardens? I've used UKCEH Wallingford for a screenshot which arguably helps with the branding!:

![image](https://user-images.githubusercontent.com/16039111/112676430-53de1500-8e60-11eb-9587-21af9a2845ea.png)

For the flower photo, can

[2021-03-26 20:09] kazlauskis commented on #58
Excellent, thanks for the tips!

[2021-03-29 09:51] kazlauskis commented on #47
Shall we do the `poms@` email then?

[2021-03-29 13:56] #58 closed

[2021-03-29 14:07] kazlauskis opened #59 "Blur records to 1km"
From: BiologicalRecordsCentre/PoMS/issues/61

[2021-03-29 15:48] kitenetter opened #60 "FIT Count website: Welsh pages for terms and privacy"
If you select Welch from the language dropdown, the home page and menu links are displayed in Welsh, but the links in the footer for the terms and privacy remain in English and take you to the English pages.

Can we set this os that choosing Welsh language also provides the correct links:
- Terms: https://fitcount.ceh.ac.uk/cy/telerau
- Privacy: https://fitcount.ceh.ac.uk/cy/hysbysiad-preifatrwydd

[2021-03-30 08:46] kazlauskis commented on #60
@kitenetter I have assigned you a different role in the repo so you should be able to manage the tickets yourself now.

It would be much better not to translate the actual URL links, just the page contents. We use the `/cy/` part to signify the selected language.

[2021-03-30 09:50] kitenetter commented on #60
I'm not sure how the Welsh pages were originally set up. At the moment we have:
- https://fitcount.ceh.ac.uk/cy/hafan
- https://fitcount.ceh.ac.uk/cy/hysbysiad-preifatrwydd
- https://fitcount.ceh.ac.uk/cy/telerau

This seems to match the use of Welsh in the URLs on the PoMS website, e.g.:
- https://test-ceh-poms.pantheonsite.io/faqs
becomes:
- https://test-ceh-poms.pantheonsite.io/cy/cwestiynaucyf

[2021-03-30 09:58] BirenRathod commented on #60
@kitenetter You can translate everything but not URL. so URL still be identify as /cy/privacy-notice. You can modify URL to English.

[2021-03-30 10:01] BirenRathod commented on #60
@kitenetter Just in case if you can't find URL alias, I attached the screenshot which you can find in when you click "Edit" link of each page.
![image](https://user-images.githubusercontent.com/5941255/112971516-343c3a80-9147-11eb-8856-34305a33a404.png)

[2021-03-30 10:03] kitenetter commented on #60
Okay. This is taking lots of time to sort out, so I want to be certain that I am understanding it correctly.

Are you saying that we should ALWAYS use English URLs, with the addition of "/cy", for ALL websites?

If so we also need to remove Welsh URLs from the PoMS website.

@DavidRoy @andrewvanbreda please can you confirm this is what you expect.

[2021-03-30 10:07] BirenRathod commented on #60
@kitenetter I'm thinking about all pages but may be it is relevant to privacy &  terms pages, so @kazlauskis can able to link in the app. if I'm not wrong.

[2021-03-30 10:14] kazlauskis commented on #60
We can go either way but I think these should be either `/cy/privacy-notice` and `/cy/terms` OR `/ysbysiad-preifatrwydd` and `/telerau`. Since the domain name is in English I would prefer to keep the URL paths in English too but use ISO language codes rather than translated paths. This way no translations would be needed and also avoiding potentially invalid characters in URLs. Having said this, i

[2021-03-30 12:42] andrewvanbreda commented on #60
I am easy with whatever you decide, but I think Karolis has a good point, if the domain name is in English only then it might be a bit odd to have Welsh page names mixed into he URL.

[2021-04-02 10:33] kazlauskis commented on #47
I have changed it to`poms@ceh.ac.uk` now. Reopen this if you wanted it to be anything else.

[2021-04-02 10:33] #47 closed

[2021-04-02 10:34] kazlauskis commented on #54
The website shows the new logo so I am closing this.

[2021-04-02 10:34] #54 closed

[2021-04-02 10:35] #43 closed

[2021-04-02 11:06] #49 closed

[2021-04-02 11:06] #59 closed

[2021-04-02 11:09] kazlauskis commented on #49
I've added the placename search, it shows the search results based on your country (and precise location) and tapping a result zooms to the place on the map.

[2021-04-06 13:24] kitenetter opened #61 "Survey doesn't upload"
I carried out a test survey at the weekend. I was away from wifi and also had mobile data switched off.

At the end of the survey I asked the app to upload the survey, just to see what happened. It tried to upload but failed, as expected, and the survey remained in the pending list.

However, when I came back within wifi range the survey is still failing to upload. No error message is given, it ju

[2021-04-06 13:59] kazlauskis commented on #61
@kitenetter try it again now.

[2021-04-06 14:02] kitenetter commented on #61
Thanks @kazlauskis that has uploaded and I can see it on the test version of the new PoMS website.

[2021-04-06 14:16] kazlauskis commented on #61
@johnvanbreda do you know if calling `index.php/services/user_identifier/get_user_id` from a Drupal website automatically attaches that user's account to the calling site in the warehouse? What has happened here is that Martin had an account in the Warehouse linked to multiple sites, upon app registration the Indicia API module has fetched the existing warehouse ID for Martin's drupal-profile but

[2021-04-06 19:32] johnvanbreda commented on #61
@kazlauskis yes, it should do that. If it didn't automatically link existing accounts to the website it would not be possible to link 1 account to more than 1 website. Can you create a test case?

[2021-04-07 08:55] kazlauskis commented on #61
Thanks, this has only happened to Martin and David. Since they are both 'super-users' on the warehouse and also admins on the site I will leave this ticket closed for now. I will reopen the ticket and delve deeper into this if any regular users encounter this issue.

[2021-04-08 15:42] kitenetter opened #62 "How to test the apple version of the app"
@kazlauskis one of our contacts is trying to test the app on an Apple dvice. He has gone to the link you gave:
- For Apple devices (iPhones, iPads): https://testflight.apple.com/join/aVHilgCx

And now has the 'testflight' installed, but doesn't know how to link this to the FIT Count app.

[2021-04-08 15:47] kazlauskis commented on #62
### Installation
To get started, install TestFlight on the device you’ll use for testing. Then, follow the public link invitation to install the beta app.

1. Install TestFlight on the iOS device that you’ll use for testing.
2. Tap on the public link on your iOS device.
3. Tap View in TestFlight or Start Testing; or tap Install or Update for the app you want to test.

[2021-04-08 15:57] kitenetter commented on #62
Our tester says:
OK – I’ve installed Testflight again on my iPhone. I get a message saying I have no apps available to test.
What is a ‘public link’ and where do I find it?

[2021-04-08 15:58] kazlauskis commented on #62
The link is the one in the Beta email above: https://testflight.apple.com/join/aVHilgCx

[2021-04-08 16:05] kitenetter commented on #62
Sorry Karolis, neither I nor our tester are understanding this.

On the testflight web page it says "tap on the public link on your iOS device". Where is the public link, do you access it from the testflight app, or is it somewhere else in the phone?

If it is in the app, where do you find it?

Can you send us a screenshot?

[2021-04-08 17:55] kazlauskis commented on #62
The link should be opened in any browser on the device, the default one is Safari. This is the link they should open in the browser: https://testflight.apple.com/join/aVHilgCx

If the person has that link somewhere in an email (from you or others) then tapping on it in the email should be enough.

The link should automatically launch the TestFlight app where they can proceed with the FIT App insta

[2021-04-09 10:13] kitenetter commented on #62
Thanks @kazlauskis - in the end our tester was able to download the app. Closing.

[2021-04-09 10:13] #62 closed

[2021-04-09 10:14] kitenetter commented on #61
I've had a report of a survey not uploading from a standard user who has just downloaded the test app (iOS version), registered as a new user and tried to submit a count. He doesn't give much detail, but it sounds similar to the problem I had:
"I couldn’t upload my fictitious results, but I guess that’s because it’s a test version."

[2021-04-09 10:48] kitenetter commented on #61
This appears to be linked to a registration problem so is not the same problem that I was experiencing.

[2021-04-09 10:50] kazlauskis commented on #61
Yes, the user has to verify the email before uploading any surveys.

[2021-04-09 10:52] DavidRoy commented on #61
Is there a way to give this status within the app?  This is likely to catch out others?

[2021-04-09 10:58] kitenetter commented on #61
The user says he did not receive an email.

[2021-04-09 11:03] DavidRoy commented on #61
I think there is a Spam filter issue?
@birenrathod

[2021-04-09 11:26] kazlauskis commented on #61
In the app, we ask to confirm the email after the registration as well as when trying to upload the first survey and we can rephrase the messages to make them clearer. Essentially this comes down to finding the verification email and clicking on the verification link.

[2021-04-09 14:59] DavidRoy commented on #61
@kazlauskis can you make the message specific to the stage of registration, e.g. '...you still need to verify you account by clicking on the link in an email sent from xxx@ceh.ac.uk..'

[2021-04-09 15:11] kitenetter commented on #61
Our test user confirms that the registration email ended up in his spam folder. If there's anything we can do to make this less likely to happen that would be good. Should we add a warning to users that they may need to check their spam folder?

[2021-04-09 15:13] DavidRoy commented on #61
I'll add a separate issue about options for reducing the likelihood of getting caught up in spam filters and tracking registration status.
@kitenetter please close this issue if appropriate

[2021-04-09 15:14] DavidRoy opened #63 "Option to reduce likelihood of registration emails getting treated as spam"
@birenrathod to advice on options for reducing the likelihood of emails with a link to confirm registration getting caught by spam filters

[2021-04-09 15:15] DavidRoy opened #64 "Improve messaging of registration status"
Provide warning message to users who haven't confirmed registration via link in email sent when creating an account

see NERC-CEH/fit-count-app#61 NERC-CEH/fit-count-app#63

[2021-04-09 15:20] #61 closed

[2021-04-09 15:47] kazlauskis commented on #64
Is this ticket about extending the current message with _"...you still need to verify your account by clicking on the link in an email sent from xxx@ceh.ac.uk.."_?

[2021-04-12 08:00] BirenRathod opened #65 ".ceh.ac.uk"

[2021-04-12 08:02] #65 closed

[2021-04-12 08:14] BirenRathod commented on #61
@DavidRoy, @kazlauskis & @kitenetter
I have configured the email service, so it will no longer end up in spam.

[2021-04-12 09:12] BirenRathod commented on #63
@DavidRoy This has resolved now as mentioned in #61

[2021-04-12 09:24] DavidRoy commented on #63
Thanks Biren.  Please can you configure all sites to avoid Spam in future.

[2021-04-12 09:24] #63 closed

[2021-04-19 08:27] CCarvell opened #66 "Preventing anyone using the app in other countries"
Is there anything to prevent someone downloading and using the app, registering etc from another country outside of UK (or Cyprus) once launched there? I can't recall if we constrained the location map.
The Home page of the FIT Count website states that counts can be done anywhere.......

[2021-04-19 08:36] CCarvell opened #67 "Re-direct link to UKCEH PoMS webpages until new PoMS site is active?"
Both links in the app that go to the UKPoMS website (from the i page at the bottom for more info, and within the About page) are showing no page as the site is not launched yet.
Can we re-direct from the app to the current UKCEH PoMS pages with all guidance materials IF the app launches before the new website?

[2021-04-19 08:40] CCarvell opened #68 "Uploaded surveys and clarity on how to view your data"
Uploaded surveys are just listed by date, but you can't click in the app and view these to remind yourself of what you saw or what your target flowers were etc.
I can't remember if we have put a sentence in the app to explain how a user can view their count data - via the PoMS website user account (ideally)? or via the FIT Count website? Does it come up in the final message after you complete a su

[2021-04-19 09:01] kazlauskis commented on #66
Yes, we can specify which countries we want to show the app for.

[2021-04-19 09:07] kazlauskis commented on #67
Yes, though it would be better to keep the same link to the site in the app but add a redirect to the website until it is set up. This way you won't need to push a new app update once the site is working and the URL link would remain constant.

[2021-04-19 09:16] kazlauskis commented on #68
Sure, one option would be to show a message if a user taps on an uploaded record in the list. What would you like to say to the user?

[2021-04-19 09:51] kitenetter opened #69 "Do we have any options for allowing location details to be added when data is not available?"
Feedback from Richard Dawson:
It is not possible to view a map without wi-fi / mobile data active / connected which may be an issue in some locations. Without being able to see the map there does not appear to be any way to enter a location, although I assume that the GPS will still function even if the map background cannot be displayed.

Is there a way to input the location later on or manually?

[2021-04-19 09:52] kitenetter opened #70 "Find location by postcode"
The map search function does not allow searching by postcide - could this be added?

[2021-04-19 09:53] kitenetter commented on #70
May be complex for non-UK locations?

[2021-04-19 09:57] kazlauskis commented on #70
Yes, I can enable the postcode search.

[2021-04-19 12:30] kazlauskis opened #71 "Add auditory feedback to 10min count finish"
At the moment, the device vibrates but it would be good to have some gentle sound played too.

[2021-04-19 13:50] CCarvell commented on #68
@kitenetter can you help advise on this? may depend on what will show in the new website, but of course this will be different for other non-PoMS projects. Can we say
"View your FIT Count data via the relevant project website (eg. PoMS in UK)"? or just leave it as is with survey, date and number of insects counted in Uploaded surveys?

[2021-04-19 13:52] CCarvell commented on #67
@kitenetter I think this will be an action for Biren which we would be doing anyway to redirect to the current guidance until the website is active?

[2021-04-19 14:12] kazlauskis opened #72 "Login auto-prefill doesn't work"
When using a password manager or similar login, form prefill doesn't detect the fields and so the user can't log in.

[2021-04-19 15:51] kitenetter commented on #67
Agreed. Will raise this as an issue on the website pages. Closing here.

[2021-04-19 15:51] #67 closed

[2021-04-19 16:08] kitenetter opened #73 "FIT Count website - contact form"
If you send a message to the FIT Count website, e.g. from https://fitcount.ceh.ac.uk/contact, the message is currently being sent to Claire. Can we set all message to go to the PoMS email address (user ID 49)?

Action for @BirenRathod (I don't seem to be able to assign you).

[2021-04-19 16:09] kitenetter commented on #73
@kazlauskis can you link Biren in to this please

[2021-04-19 16:27] kitenetter opened #74 "Lots of blocked user accounts on the FIT Count website"
We have a lot of user accounts marked as "blocked" on the FIT Count website. Not sure why this is happening, and also whether I should edit them and unblock them (e.g. some are from PoMS partners who are presumably testing the app).

@kazlauskis not sure if this is an issue for you or for Biren, please assign accordingly.

[2021-04-20 06:23] BirenRathod commented on #73
@kitenetter I have amended the email address to the one used by user id 49.

[2021-04-20 08:00] kazlauskis commented on #73
@kitenetter I have given you extra permissions to the repo. Let me know if you still can't assign people to issues.

[2021-04-20 08:02] BirenRathod commented on #73
@kazlauskis It is same for me too. I can't assign to him as well.

[2021-04-20 08:30] kazlauskis commented on #73
@BirenRathod added you too now.

[2021-04-20 08:31] BirenRathod commented on #73
Thanks, @kazlauskis

[2021-04-20 09:10] kazlauskis commented on #68
The text would be shown to all countries but it can be translated differently in other languages. As long as the 'format' of the translations remain the same then translators are free to modify the text.

[2021-04-20 09:14] kazlauskis commented on #74
@kitenetter this means that people haven't yet verified their email addresses. We don't force verification and the user can still use the app, it is mandatory only when uploading the records. I think users are probably just exploring the app and since the app is still in the testing period there are few records being uploaded.

[2021-04-22 11:28] CCarvell opened #75 "Removing “PoMS” from 'other flies' text and replace with "FIT Counts""
Minor edit from Team meeting that will NOT involve any translation.
Within the pollinator groups ID guide, 'Other flies' in the paragraph below the 6 features, replace the word "PoMS" with "FIT Counts".
@kitenetter to update this on the Outlook Excel sheet in English - and make sure the Welsh version updates as well (but no translation requirement)

[2021-04-22 11:28] CCarvell commented on #71
@kazlauskis we did not discuss this just now but are you happy to put in a sound as suggested?

[2021-04-22 11:33] CCarvell commented on #70
@kitenetter I have discussed this with Karolis - we decided it would be OK for him to enable a postcode search within the 'Search for a location' box without us having to make any edits to the Info behind the READ MORE box on the location screen.

There was also the point from Richard Dawson to "add warning about GPS use" from the team meeting, but this would involve translation edits and so perha

[2021-04-22 11:43] CCarvell commented on #69
@kazlauskis if a user is NOT connected to mobile data or wifi, will they still be able to type in their location (eg. place name or post code) in the search box? I understand that they may have to pinpoint the exact location on the map on return to base or signal.
@kitenetter if you think this DOES require a text edit in the Read More box (despite my note in the other issue) can we make this TODAY

[2021-04-22 12:10] kazlauskis commented on #71
@CCarvell I can add this but not in the current release. This would have to go to the next app version.

[2021-04-22 12:14] kazlauskis commented on #69
No, the location search only works where there is a network connection. This location name is not saved and is only used for locating yourself within the map when you have a connection. I would say to leave it as it is, the GPS is the primary way to find the current location.

[2021-04-22 20:43] kitenetter commented on #75
@CCarvell sorry, not sure what you mean by "Outlook Excel sheet"?

[2021-04-22 20:54] kitenetter commented on #69
This may be too late to change for the first version, but I would suggest changing the Help text at the top of the map page to read:
Enable your GPS to set your location, or use the map to zoom in and tap on your location

And in the "Read more" text, the final paragraph could be:
If your GPS is switched on your location should already be set, but if not please zoom in to find the spot that best m

[2021-04-22 21:50] kitenetter commented on #60
The Welsh versions of the Terms and Privacy notice are now fully updated.

Terms are at:
https://fitcount.ceh.ac.uk/cy/terms

Privacy:
https://fitcount.ceh.ac.uk/cy/privacy-notice

However, if I'm on the English Home page and I then choose Welsh, the wording and the links for the Terms and Privacy do not change. The only way to see the Welsh versions is to go to the English versions and then selec

[2021-04-22 22:09] kitenetter opened #76 "Web links on FIT Count website home page"
For info @CCarvell @DavidRoy

I have added links from the FIT Count website to the country-specific PoMS pages:
https://fitcount.ceh.ac.uk/home

and have asked Elen to translate the sentence explaining what the links are.

We can add further country links as they become available.

If you are happy with this please close the issue.

[2021-04-22 22:13] kitenetter commented on #74
Okay, closing.

[2021-04-22 22:13] #74 closed

[2021-04-22 22:16] kitenetter commented on #73
Just tried to test the contact form on the website and got an error:

![image](https://user-images.githubusercontent.com/16039111/115791555-8710b700-a3c0-11eb-842f-844d6e95f6af.png)

I ticked the box to send a copy of the test email to my own address, and that has arrived, but no email has arrived in the poms@ceh.ac.uk inbox.

[2021-04-22 22:26] kitenetter commented on #68
Okay. We can't guarantee an exact match between choice of language and country in which surveys take place, so I think something similar to Claire's suggested text will work:

      To view your FIT Count data after uploading please visit the project website for your country, where available (e.g. UK PoMS)

If we can include a hyperlink this should be:
(e.g. [UK PoMS](http://ukpoms.org.uk/))

@kaz

[2021-04-23 07:50] kazlauskis commented on #75
@kitenetter sorry, we have a shared doc where we keep all the species lists, annotations, habitats etc. I thought you had access to it, I have just sent you an invitation.

[2021-04-23 07:55] BirenRathod commented on #73
@kitenetter I didn't see the error message. I have sent three emails, so check if you receive in poms@ceh.ac.uk inbox. they all got my email address.

[2021-04-23 08:19] CCarvell commented on #76
I am happy thanks - will see if I can close the issue!

[2021-04-23 08:21] kazlauskis commented on #68
@kitenetter I have added this to the app, see attached pic. The translations are now in Transifex and I have emailed Elen too. Do you want me to wait until the Welsh translation is done before we release the app?

<img width="349" alt="Screenshot 2021-04-23 at 09 11 50" src="https://user-images.githubusercontent.com/7383162/115841908-2e1f3e00-a415-11eb-98ae-926fc5404ec1.png">

[2021-04-23 08:21] CCarvell commented on #76
@kitenetter sorry I can't see how to close an issue so can you do this?

[2021-04-23 08:23] kazlauskis commented on #76
@CCarvell I have resent an invitation for you to join the GitHub project as an admin.

[2021-04-23 08:23] #76 closed

[2021-04-23 08:27] CCarvell commented on #68
@kazlauskis perfect thank you.
This is a minor addition - if Elen responds this morning then great - we can have the Welsh done before first release - but if we are nearly there with all other issues then I would really like to push ahead and get the app to the 2 app stores for approval today.

[2021-04-23 08:29] #70 closed

[2021-04-23 08:30] #68 closed

[2021-04-23 08:58] kitenetter commented on #73
@BirenRathod Your three messages have arrived in the PoMS inbox, but I've tried to use the contact form again myself and I'm still getting the error message. I'm logged in as https://fitcount.ceh.ac.uk/user/35

[2021-04-23 09:07] BirenRathod commented on #73
@kitenetter That should not be a problem. The messages I sent, one of them using same admin role as your one and others sent without login. I just sent you another message by masquerading as you and found no problem. Can you check poms inbox and see if you see the message.

[2021-04-23 09:10] kitenetter commented on #73
Yes I can see the one that you have sent from my account. So it looks like this is just a problem for me.

[2021-04-23 09:12] BirenRathod commented on #73
@kitenetter yes, that's right. May be you can try again after clearing cookies from your browser.

[2021-04-23 09:13] kitenetter commented on #73
WIll do. Closing.

[2021-04-23 09:13] #73 closed

[2021-04-23 09:35] kitenetter commented on #75
In the shared doc for English text I have replaced "PoMS" with "the FIT Count" in two places:
- other_flies_1, into text
- butterflies and moths 1, extra text

What do I need to do to update the Welsh text?

[2021-04-23 09:59] kazlauskis commented on #75
@kitenetter the translations are in Transifex, do you have access to the Welsh there?

[2021-04-23 10:02] andrewvanbreda commented on #60
@kitenetter
Hi Martin,
I have not used this site. Is this the "headless" site as it does not seem to allow me to register and therefore check it.
The problem is that the bottom area is the footer and held separately to the rest of the page.
So when switching to Welsh, the footer will remain in English until the footer has had its translation done.
You might be able to find how to Translate the foo

[2021-04-23 13:38] kazlauskis commented on #75
I've pulled in the new texts and updated the Welsh translations (replaced "PoMS" with "Fit Count").

[2021-04-23 13:38] #75 closed

[2021-04-27 11:20] kitenetter opened #77 "Wording change in insect ID guide"
I've just noticed that one of my insect guide bullet points is poorly worded. What is the best way to keep track of text edits for the next version of the app, should I update the shared one drive spreadsheet, or add it as an issue here?

[2021-04-27 11:51] kazlauskis commented on #77
Please update the doc directly. We will try to pull in the changes with every release.

[2021-04-27 11:51] #77 closed

[2021-05-06 11:51] kitenetter opened #78 "Users blocked"
We've had a few users get in touch to say they haven't received the registration confirmation email. On the FIT Count website I can see that they are blocked.

Do new accounts always get shown as blocked until the user confirms their registration?

Can I unblock them, or is there a way of re-sending the confirmation email?

[2021-05-06 11:55] kitenetter opened #79 "Enable android Back button"
A user writes:
"Just installed the app. Got as far as Start Survey screen and wanted to then exit. Back button (android, Samsung S9+)  has no effect, I had to use other means to close it. Standard behaviour is for the back button to exit an app if you are on first screen."

Is there a reason why the back button doesn't allow the app to be exited?

[2021-05-06 11:57] kazlauskis commented on #79
Did the **Home** button in the header not work? The android back button is disabled intentionally so that it doesn't mess up with the custom navigation here.

<img width="389" alt="Screenshot 2021-05-06 at 12 56 54" src="https://user-images.githubusercontent.com/7383162/117294427-8a00b280-ae6a-11eb-93ed-a515b2bec937.png">

[2021-05-06 12:01] kitenetter commented on #79
On my phone, the Home button works, but having got to the Home page I can't get out of the app via the back button, I have to open the app manager list and close it from there. Most of my other apps close via the back button, which I think is what this user was trying to do.

[2021-05-06 12:19] BirenRathod commented on #78
@kitenetter Please unblock them. Also, I have updated library to support email execution system. That should resolve the registration confirmation email.

Yes, new accounts always get shown blocked until the user confirms their registration.

[2021-05-06 13:09] kitenetter commented on #78
If I unblock them, how do they set their password, will they be asked to do that when they log in?

[2021-05-06 13:17] BirenRathod commented on #78
@kitenetter Actually they do not need to set their password as they must have got at the time of created. if they don't remember then they can use forgot password feature.

[2021-05-06 13:40] kitenetter commented on #78
I've unblocked the account for the user who got in touch. It seems to have saved okay but I got this error message:

![image](https://user-images.githubusercontent.com/16039111/117307839-d652ef00-ae78-11eb-8183-7c13012e5c89.png)

Should I unblock **_all_** the blocked accounts (there are about 20 that have registered since the app was launched)?

[2021-05-06 13:45] BirenRathod commented on #78
@kitenetter yes, that is fine. Yes, this warning message do come up sometime but it will be resolved in due time.

[2021-05-06 13:56] kitenetter commented on #78
I did a bulk activation of all the blocked emails, and got this error:
"The application did not respond in time."

However, they do now all seem to be active.

Closing.

[2021-05-06 16:00] kazlauskis commented on #79
@kitenetter do you have this bar on your device? Have you tried the circle?

<img width="621" alt="Screenshot 2021-05-06 at 17 00 05" src="https://user-images.githubusercontent.com/7383162/117329392-84b45f80-ae8c-11eb-86fb-1c3c6a2879c1.png">

[2021-05-06 16:13] kitenetter commented on #79
No, I have a list button on the left:

![image](https://user-images.githubusercontent.com/16039111/117330875-09ec4400-ae8e-11eb-8da0-fcc856fc627d.png)

and a back button on the right:

![image](https://user-images.githubusercontent.com/16039111/117330763-ede8a280-ae8d-11eb-9d30-ba3ce1fed92a.png)

with a home button (a physical button rather than a touchscreen button) in the middle.

I don't know w

[2021-05-06 16:18] kazlauskis commented on #79
Thanks, I agree, we should fix it at some point. This was raised in other apps and we'll just need to prioritize this.

[2021-05-10 17:00] CCarvell commented on #69
Follow up of dialogue on this from 10/05: Martin's @kitenetter suggested edits above still a good idea, but with possible extra clarification of what to do when you are offline:

I think we need to add a sentence for clarity to the READ MORE Info page that links from the survey page 1 (location). Can this be done with a simple update?
I don’t know what the GPS button is, and also can’t find on my

[2021-05-10 20:05] kazlauskis commented on #66
Can we close this one?

[2021-05-10 20:22] kazlauskis commented on #69
Do the screenshot and a slightly reworded phrase look OK? These both would require translations, do you want to contact the translators or should I push this?

### READ MORE

  <p>
                Your location can be anywhere where there are flowers to attract
                pollinating insects, where you have permission to be, and where
                it is safe to go.
              </p>

[2021-05-10 20:38] CCarvell commented on #66
@kazlauskis yes we can close it. I assume we didn't specify countries in the end based on above? I think David was happy to be flexible incase this provides a route for other countries to 'try it out'.

[2021-05-11 06:26] BirenRathod commented on #60
@kitenetter I amended the settings now , so footer now changes as per language selection.

[2021-05-11 09:36] kazlauskis commented on #69
OK, I will write to Elen, do you want me to wait for her to finish the translations first or should I push this update to the app stores without that?

[2021-05-11 14:10] kitenetter commented on #69
Hi @kazlauskis - @CCarvell and I have discussed this again this morning and I've been checking how the app works on my phone without a data/wifi signal, and for me at least the GPS is functioning as expected, and an accurate location is being captured. However, it is not very obvious to the user that this is happening.

We would like to update things before the website launch on 20 May, which I th

[2021-05-13 15:11] kazlauskis commented on #11
We are about to add other countries to the app which means that some of the shared survey attributes will have more options.

@andrewvanbreda @kitenetter are you OK for us to add extra options to the habitat and flower attributes? These are shared, it might show up on the PoMS website too, no?

<img width="698" alt="Screenshot 2021-05-13 at 16 07 29" src="https://user-images.githubusercontent.com/

[2021-05-13 15:22] kitenetter commented on #11
@kazlauskis do you mean that there will be additional attributes appearing in the dropdown lists on the PoMS website data entry form? If so that is highly undesirable, do we have any options for controlling which terms appear on the website?

[2021-05-13 15:57] kazlauskis commented on #11
Probably, at the moment, the app and the PoMS website share the same Warehouse attributes. Andy knows more about what control he has when showing the forms on the website.

[2021-05-13 16:10] kitenetter commented on #11
Does this also have any implications for the terms that appear in the app itself when used in the UK? We really don't want people to be able to select target flowers or habitats that are not on the UK list.

[2021-05-13 16:13] kazlauskis commented on #11
No, in the app we have full control of which attributes will be shown to which users so this might only affect the website/reports.

[2021-05-13 16:20] kitenetter commented on #11
Okay. In that case, we may need to set up a new set of terms for the PoMS website, so that it is independent of the app termlists - unless Andy can see a better option. I'm keen to minimise any additional demands on Andy's time as we have a lot to do in the next week, so let's see what the simplest option is. I'm worried that this will cause problems with the reports and with Welsh language handli

[2021-05-13 21:44] andrewvanbreda commented on #11
@kitenetter @kazlauskis
Sorry I got distracted by very a very urgent language issue today, so will look at what you have been writing about tomorrow

[2021-05-14 10:33] andrewvanbreda commented on #11
@kitenetter @kazlauskis
Think am pretty confused what is going on to be honest.
If there are additional attributes in the app that won't appear on the website, this would be ok, apart from those attributes will not be available editing data from the app on the website.
Also they must not be mandatory attributes.

What are these extra attributes?
Is it to do with countries and things?

If they are

[2021-05-14 10:38] kazlauskis commented on #11
@andrewvanbreda this isn't new attributes, but existing attributes with extended options lists. So we basically need to add more select options to the habitats and flower attributes.

[2021-05-14 11:01] CCarvell opened #80 "Spelling correction on Wasps ID page"
In the Wasps ID page, point 3 has a spelling error:
bold **back**
should say
bold **black**
@kazlauskis can you correct this directly with the next update, then it will appear correctly for the Cyprus version too?

[2021-05-14 11:01] CCarvell opened #81 "Cyprus Actions from team meeting"

[2021-05-14 11:09] andrewvanbreda commented on #11
@kazlauskis
if you let me know which terms need hiding on the website, I will try to do that with jQuery.
I will need to know the exact ones to be excluded. Although there is the complication these would need to be shown when editing app data.

So I think what needs to happen is
1. Add them to the existing term lists on the website (including translation).
2. Let me know the ones you have added, a

[2021-05-14 11:13] kitenetter commented on #11
@andrewvanbreda there is no need to enable the additional terms to be edited via the PoMS website, as they will only apply to counts that are outside the UK. So if it is simpler just to hide them altogether on the website that should be fine.

[2021-05-14 11:18] andrewvanbreda commented on #11
@kitenetter
Ok, so what need to happen is you to let me know which terms then once they have been added to the Warehouse.
I might be able to write an extension that can be added to each page to hide them.
There isn't a site wide option for this.

[2021-05-14 11:21] kitenetter commented on #11
@kazlauskis please let us have the list of non-UK terms as soon as they are finalised

[2021-05-14 11:23] CCarvell commented on #81
Copy of email with Actions for Cyprus - as the team are not all on GitHub we will probably have to deal with these by email but I am just logging this here:
These are the Actions I noted (a couple of extra ones since I checked the translation document again FIT Count- App_Cyprus (14.05.21) ), please add others if I have missed anything:
1.	Karolis to specify the country choice as “Cyprus” (vs “UK”

[2021-05-14 13:10] kazlauskis commented on #11
Hi both, I think, it might be better to invert this and cheery-pick the UK specific options rather than the other way round. Otherwise, the list will most likely grow with every country we add to the project and you'll need to keep updating these terms on your website. My suggestion would be to eliminate any options that are non-UK related on the PoMS site.

An alternative to this would be for the

[2021-05-14 13:33] kazlauskis commented on #80
Thanks, I've done this now. This text lives in the shared excel document so you should be able to make these tweaks to the descriptions there yourselves.

[2021-05-14 13:33] #80 closed

[2021-05-14 13:43] andrewvanbreda commented on #11
@kazlauskis
I am not sure how terms would work like this though.
I suppose maybe I could tell the jQuery to use these, and always excluded everything else.
Yes maybe that would work.
I think specific app attributes is problematic, I would have to completely change the site.

I will see if I can get this to work within the budget.

[2021-05-18 09:17] kitenetter commented on #78
@BirenRathod
We still seem to be ending up with a lot of blocked user registrations. Currently we have over 150 active users, and about 40 blocked users. I can't see any obvious reason why some users are getting blocked.

Two questions:
1. What causes a user account to be marked as "blocked"?
2. Should I just unblock all the blocked ones, or could that result in spam users getting through?

[2021-05-18 09:28] BirenRathod commented on #78
@kitenetter

1. Generally if user failed to response from notification email received after registering on site then their account got blocked.  All though, I checked logs and I haven't found any failed email notifications, so there is only one possibility which mentioned here.
2. you can unblock all users if they look genuine.

[2021-05-18 10:35] DavidRoy commented on #78
@BirenRathod is there anything we can do to minimise the likelihood of registration link emails getting caught up by spam filters?
@kazlauskis anything we can do in the app to alert users to their registration status?

[2021-05-18 11:07] kazlauskis commented on #78
We ask the user to verify the account at the time of registration and also when the user is trying to upload a record with an unverified account. Having some accounts blocked isn't a bad thing in itself. We simply allow the users to explore the app without requiring them to verify the account first, which means that some users will decide to not verify their account at all and not upload any data

[2021-05-18 11:09] DavidRoy commented on #78
Agreed.
I would support any improvements for this process to be handled via the app, e.g. add the ability to resend the verification email.

[2021-05-18 11:17] kazlauskis opened #82 "Add ability to resend verification email"
If the user is trying to upload a survey with an unverified account we currently show a warning to click on the verification email first. It can happen that the user has registered a while ago and so the verification email might have been deleted from the email account by then.

<img width="402" alt="Screenshot 2021-05-18 at 12 13 57" src="https://user-images.githubusercontent.com/7383162/11864225

[2021-06-02 09:03] kitenetter commented on #78
I don't if there is anything more we can do on this, but at the moment we are getting more blocked registrations than active ones:

![image](https://user-images.githubusercontent.com/16039111/120452006-d23bc380-c389-11eb-8636-e15c74a65193.png)

[2021-06-02 09:34] DavidRoy commented on #78
I think the best option is to embed messages in the app to show registration status to users.  @kazlauskis has recently implemented this for the ButterflyCount app

[2021-06-02 12:01] kitenetter commented on #79
For info, we've had another complaint about being unable to exit the app - the user thought they had to shut their phone down completely in order to close the app. I guess they aren't familiar with the app manager options.

[2021-06-06 18:34] kitenetter commented on #82
If there is any way of priorotising this I would be really grateful. We have about 100 blocked users at the moment. I just tried to do a bulk unblock but that doesn't seem to have worked: "The application did not respond in time."

@CCarvell for info.

[2021-06-07 09:42] CCarvell commented on #82
@kazlauskis Martin is on leave this week but this is an urgent issue that needs to be resolved quickly if possible please.
I'm not sure I can do much to help?
I was going to put a short Tweet out to report that we have having technicall issues with app registration but would like to know a bit more first, and also cannot deal with a flood of enquiries myself today!

@kazlauskis let me know if a qu

[2021-06-07 12:45] kazlauskis commented on #82
Yes, the website might be failing to send the registration emails so we should investigate that area first.

[2021-06-07 12:55] CCarvell commented on #82
OK @kazlauskis glad you have seen this! Do you mean yes to a quick chat or yes to investigating the website emails issue yourself now?

[2021-06-07 14:17] kazlauskis commented on #82
Sorry, I am in meetings all day today but I am free after 6pm. I wouldn't have the capacity to investigate the server email issues now, but Biren has set it up so he should be able to look into this.

[2021-06-07 14:19] BirenRathod commented on #82
@kazlauskis & @CCarvell Email works fine but this is to do with users already registered in the warehouse. so they don't email if they have already registered in the warehouse.

[2021-06-08 12:36] CCarvell commented on #82
@kitenetter @BirenRathod I have responded with several points under #114 on the PoMS website GitHub - this all seems to be linked. Also this just happened:
I just logged out of my app account and back in again.
Now I cannot see any of my Uploaded surveys showing on the app - it says "No uploaded surveys". This seems to be the same as for Kit Welchman above who said "I had posted several datasets o

[2021-06-08 13:28] kazlauskis commented on #82
Any data, including the uploaded surveys, will be removed from the device after the user logs out or reinstalls the app. When logging out there is an option to leave the local data - uncheck the 'Discard local data' checkbox.

[2021-06-17 11:46] CCarvell opened #83 "Credits page edit"
@kazlauskis as agreed with the team, please can you add the following to the Credits page of the app, I suggest putting it under the Graphics: section after FIT Count logo and before Photos:

App design concepts: Francisco E. Fontúrbel (Pontificia Universidad Católica de Valparaíso)

[2021-06-17 11:50] CCarvell opened #84 "Tagging Jim Chiazzese for SURPASS work"
@kazlauskis you added Jim to the repo on 21/05 but I cannot seem to tag him?

Please can you explain or tag Jim's account name?

[2021-06-17 16:14] kazlauskis commented on #84
He hasn't yet accepted the invitation.

[2021-06-18 09:37] CCarvell opened #85 "Point 2 on the i info page with “FIT Count quick guide”"
For Cyprus, we need to edit text under point 2 on the i info app page with “FIT Count quick guide”:

You can complete a FIT Count in good weather at any time of year.

Οι μετρήσεις FIT μπορούν να πραγματοποιηθούν καθ’όλη τη διάρκεια του χρόνου, όταν ο καιρός είναι καλός, σε ανθοφόρα φυτά

@kazlauskis I think this needs a new English entry in Transifex for us to add the Greek - is that something yo

[2021-06-18 10:09] CCarvell commented on #81
Update on Actions 18/06/2021

2. Separate issue raised and labelled - sorry!

3. Claire to check photos and sizing on Google shared folder - Ioanna meeting Pantelis next week to check again if we can find some more photos for final examples -  if they cannot find examples of all the insect photos for species from Cyprus, then agreed to keep the UK examples but add a very short note to the translat

[2021-06-18 11:35] kazlauskis commented on #85
Added the term and the translation.

[2021-06-18 11:35] #85 closed

[2021-06-18 11:46] kazlauskis commented on #81
@CCarvell regards the 10,  I have now added a new term to Transifex that would require the translation.

[2021-06-22 09:44] JimChiazzese1 commented on #84
I think the invitation may have come through prior to me having a github account? So that when trying to accept the invite I was prompted to first set up an account, which meant the original invite wasn't actually accepted? Could that be the reason I can't be tagged? @kazlauskis @CCarvell

[2021-06-22 09:47] kazlauskis commented on #84
Yes, that's probably the case, I've resent the invite now.

[2021-06-22 09:49] JimChiazzese1 commented on #84
Thanks @kazlauskis That's sorted it now. Jim

[2021-06-22 09:51] #84 closed

[2021-06-30 15:22] CCarvell commented on #83
@kazlauskis could you update us on this - has it been added yet? I think I have updated the app on my phone but this edit is not appearing in the Credits yet.

[2021-06-30 15:32] CCarvell opened #86 "Translation of Privacy Policy and Terms & Conditions"
Re: the app Privacy Policy and Terms and Conditions that are hosted on the FIT Count website and not on the app -  https://fitcount.ceh.ac.uk/

@kitenetter or @kazlauskis do you know which part of Transifex was used to do the Welsh translation for the UK version?

We need to confirm that the current text is suitable for Cyprus and then the S American countries, and then decide where to post that t

[2021-06-30 15:37] CCarvell commented on #78
@kitenetter @kazlauskis have we solved the issue of blocked registrations?
I am concerned about people getting put off at this stage.
We have just asked NI to push for promotion (they have already been doing this) and will be promoting the app during Defra's Bees Needs week w/c 12th July to would be good to know if this glitch can be solved. thanks

[2021-06-30 15:44] CCarvell commented on #69
@karolis as you were going to return to this in June - I am just putting out a reminder to all.

From discussions with @JimChiazzese1 and SURPASS team it is likely that they would want to include the option listed above:
**Add a box above the map that allows the user to add an optional free text place name**

This would help users who may be without signal or unable to store the GPS location of th

[2021-06-30 15:50] JimChiazzese1 commented on #69
@kazlauskis @CCarvell Just a comment on the freeform location box. I assume it will possible to flag this field was used before the user submits the survey (when back on a connection). i.e if submitting a survey that only has a text box location description and not an actual mapped location can the user be prevented from submitting the survey and get a prompt that they have to verify the location

[2021-06-30 15:52] kitenetter commented on #86
The privacy and terms are on transifex here:
https://www.transifex.com/ceh/fitcount-website/content/

[2021-06-30 15:54] kitenetter commented on #78
Looking at registrations over the last week and a bit I estimate that about half are showing as blocked, so this is still a problem.

I don't think we've had any recent emails complaining about being unable to register, which is a bit odd, and perhaps indicates that people are giving up if it doesn't work first time?

[2021-06-30 16:01] kazlauskis commented on #83
No, I haven't yet. Even for a trivial update like this, re-uploading the app has some overheads so I was hoping to bundle it up with the Cyprus update. Let me know if I shouldn't wait for it and update it instead.

[2021-06-30 16:04] kazlauskis commented on #69
The location name is merely a search field that works only when there is a network connection. The location name is discarded after the user navigates away from the page. To navigate to the step 2, the app has to geolocate the device or the user has to select some location on the map so the user can't skip the step 1 without setting some valid location to the survey.

[2021-06-30 16:08] CCarvell commented on #78
I just checked the App store and there are no bad reviews appearing as a result of people reporting registration issues.
But I am concerned about losing peoples' interest, especially if these are people who are unlikely to go and print off forms to enter counts via the website.
@BirenRathod said you can unblock all users if they look genuine.
And have we tried to minimise the likelihood of registr

[2021-06-30 16:12] kitenetter commented on #78
For what it is worth, I just got round to registering my home email address for the FIT Count app, and the process work absolutely smoothly - the email arrived immediately in my inbox, it reads clearly, I clicked the link and my account is now active.

It's very difficult to know why it is failing for so many others.

I will do another bulk unblocking, but that will result in some mis-typed emails

[2021-06-30 16:13] kazlauskis commented on #78
From the app's perspective, it might not be a problem that half the users ignore the verification step - some might not be interested in uploading the data. I personally don't verify my account if I find I don't want to proceed with using some product features that require that - losing the interest might be a bigger issue here. Of course it is definitely a problem if the users that want to upload

[2021-06-30 16:16] kitenetter commented on #78
@kazlauskis I'm sure you're right that some of the blocked accounts will be from people who decided not to proceed, but I did recognise a few of the blocked accounts and they included people who are active recorders and I am pretty sure do want to be using the app and contributing to PoMS.

[2021-06-30 16:17] CCarvell commented on #78
Thanks both. I agree that we do not want to artificially enable those who are not genuine users to have registered accounts. But it is very hard to separate those (I hope they are fewer) from potential genuine users.

[2021-07-01 12:10] JimChiazzese1 commented on #69
@kazlauskis Sorry Karolis, I think my question probably confused things - it was really just me thinking aloud about possible functionality.

I'll wait until you comment on Claire's previous question - lack of signal/inability to use GPS etc seemed to be an issue that the S.American teams are keen to have a work around for.

[2021-07-01 12:27] kazlauskis commented on #69
We can reuse the same location search input field as a survey location-name. The app could save whatever was entered in that field for upload to the warehouse then. If the app is online then this field would also suggest possible locations as well as zoom in on the map to that location. If offline, then this would simply be a location-name field.

At the moment, it isn't possible to navigate to st

[2021-07-07 13:31] CCarvell commented on #81
@kazlauskis this is the list of names to appear under the Credits for photos from the Cyprus team:

•	Marios Philippou
•	Pantelis Charilaou
•	Graham Johnstone
•	Kelly Martinou
•	Ioanna Angelidou
•	Varnava J. Andri
•	Jakovos Demetriou
•	David Navrátil & 8K postprocessing M.Hoskovec

if we do this on the main global Credits page for every country, the list will become very long.
Will it be better to

[2021-07-07 14:42] kazlauskis commented on #81
Sure, I can show this in Cyprus only. Do you want to translate the 'postprocessing' or should we keep it in English only?

[2021-07-08 11:29] CCarvell opened #87 "ID guide Wasps page 1 - typo to correct"
@kazlauskis in the ID guide, page 1 of the Wasps group has a typo for the word black:

Point 3
"have bold back and yellow stripes"

should say
"have bold black and yellow stripes"

[2021-07-08 12:20] kazlauskis commented on #87
This text should be updated in our shared excel document. I can pull these changes into the app once you've corrected these. @JimChiazzese1 @kitenetter

[2021-07-13 09:56] JimChiazzese1 commented on #87
@kazlauskis Can I just verify how this process should work please? Claire's found an issue on the app itself, so assume the process is locate the typo/issue on the species spreadsheet on https://flumensio.sharepoint.com/ update on there and inform via Github, you then re-import to fix the issue.
Out of interest, do you reimport the whole sheet or just the area impacted and does that happen each ti

[2021-07-14 14:10] andrewvanbreda commented on #11
@kitenetter @kazlauskis
Note I have just deployed jQuery code to the English/Welsh site that forces the terms on the 3 data entry forms to only show the existing terms. Any more added from this point won't show up.

Martin just sent me some terms for Cyprus, however the lists looked very different.
Initially the obvious answer is these should be just be new attributes with new lists.
But am wonder

[2021-07-14 14:36] kazlauskis commented on #11
Yes, from the app perspective, it is best to keep all the terms under same attributes. I agree that Cyprus or whatever other site will have to show country-specific terms only.

[2021-07-14 14:54] andrewvanbreda commented on #11
@kazlauskis
OK. No problem. Have advise Martin to add them to same list as the excluder has been deployed to the UK website.

[2021-07-14 15:04] kitenetter commented on #11
@kazlauskis in the warehouse the UK target flowers are entered as a single text string with both English and scientific names, e.g.:
"White Dead-nettle - Lamium album"

In the Species_data spreadsheet you have just the English names in one column, with a separate column for scientific name.

When I add the Cyrpus targets to the warehouse, should I continue to use both English and scientific in one

[2021-07-14 15:22] kazlauskis commented on #11
I would probably follow the existing format in the warehouse. Whatever the format you choose, it will not impact the app. This is probably more for how the species will be rendered on the website and download reports.

[2021-07-14 15:43] kitenetter commented on #11
Habitat and target flower terms now added to warehouse, updated spreadsheet supplied to Karolis.

[2021-07-14 16:11] andrewvanbreda commented on #11
@kazlauskis @kitenetter
The UKPoms site seems to be working fine (noticed a bug where welsh is bleeding through into the species grid attribute term list but that is unrelated, I will note that). So terms are indeed being excluded.

[2021-07-15 09:42] andrewvanbreda commented on #11
@kitenetter
Note I have fixed the Welsh bleed through on the pan trap species grid mentioned in comment above.

[2021-07-17 11:18] #87 closed

[2021-07-17 11:18] #83 closed

[2021-07-17 11:18] #81 closed

[2021-07-18 16:51] CCarvell opened #88 "Cyprus solitary bees p.3 italics to change"
In the Insect Guide, Solitary bees section page 3 (with the 4-panel insect images), the text after each Genus name is showing in italics in the demo version. This should be changed back to normal text. Italics only for Nomada, Lasioglossum, Colletes.

[2021-07-18 16:54] CCarvell commented on #88
@kazlauskis the same has happened with italics on the hoverflies p. 3, caption 2, and the Beetles p. 2, caption 2.

[2021-07-18 17:00] CCarvell opened #89 "Cyprus photo credits to cover UK images"
@kitenetter @kazlauskis we need to check the Cyprus Credits page in the app demo in order to add back in those from the UK credits whose photos are still included in the Cyprus version.

@kitenetter I think this is Malcolm Storey for the first honeybee, but please can you do a quick check for the other images in the insect guide for Cyprus?

https://fit.app.flumens.io/demo.html

[2021-07-20 10:10] #88 closed

[2021-07-22 08:31] kazlauskis opened #90 "Move 'Other' option to the end of lists"
It shows in the middle when Greek is selected. (Άλλο)

[2021-07-22 08:32] kazlauskis opened #91 "Remove button uppercasing"
Automatic uppercasing of words breaks Greek words that have accents.

[2021-07-22 08:45] kazlauskis opened #92 "Change Cyprus feedback link"
In the About page it should point to: https://www.ris-ky.info/poms-ky

[2021-07-22 09:10] kazlauskis opened #93 "Change Cyprus feedback email"
Use pomscyprus@gmail.com for Cyprus.

[2021-07-22 09:58] kazlauskis commented on #91
See this solution: https://stackoverflow.com/questions/28783259/how-do-i-make-text-transformuppercase-work-properly-with-greek

[2021-07-27 12:11] #90 closed

[2021-07-27 12:11] #92 closed

[2021-07-27 12:11] #91 closed

[2021-07-27 12:11] #93 closed

[2021-07-28 16:11] kitenetter opened #94 "Query over uploading results"
This user has an active account on the FIT Count website, but is unable to upload results:

Is there any action we can suggest? I guess it may be a problem with their internet connectivity?

[2021-07-28 16:18] DavidRoy commented on #94
I notice there are a lot of blocked accounts again on https://fitcount.ceh.ac.uk/
@BirenRathod can you check there is no issue with emails being sent from this site

@kazlauskis as this is a D8 site, can we use the newer user authentication approach to indicate 'within-in' for registration status?

[2021-07-28 16:30] kitenetter opened #95 "Display user emails in the people table on the FIT Count website"
Is it possible to display the full email address in the people table here:
https://fitcount.ceh.ac.uk/admin/people

This could be done either by making the full username visible, or by adding an extra column for the email address.

This would make it easier to see whether accounts are blocked because the email address has been mis-typed, or for some other reason.

[2021-07-28 16:32] CCarvell opened #96 "Cyprus Beta version final changes 28/07/21"
@kazlauskis
1.	Will you take the revised English text from the Species-data.xls sheet? Some of Ioanna’s requests for changes are already showing in the English version of the “insect-guide-photos” sheet, but she has asked for slight changes to others.
2.	Are you happy with the final list of habitat types for Cyprus? I hope this corresponds with what is listed as TRUE in the Species-data.xls sheet,

[2021-07-28 16:48] BirenRathod commented on #94
@DavidRoy, @kazlauskis I don't see any errors of not sending emails. The only possible reason is that those users haven't been signed in back to activate their account.

[2021-07-28 16:57] BirenRathod commented on #95
@kitenetter I have added an email address column, so you can see whole email address.

[2021-07-28 17:30] kitenetter commented on #95
Thanks

[2021-07-28 17:30] #95 closed

[2021-07-28 18:31] kazlauskis commented on #94
@kitenetter I would need the Drupal user ID, login timestamp and the app version to investigate this further, is it possible to find this out?

@DavidRoy yes, we've got two tickets related to this #64 #82. We can do both just haven't prioritised this yet.

[2021-07-28 18:50] kazlauskis commented on #96
@CCarvell
1. Yes, I'll pull in any latest sheet changes to the app once you're done.
2. Yes, there was an issue in the app which showed UK AND Cyprus habitats when Cyprus was selected. This was fixed now. Otherwise, the habitat types in the sheet is more for Ioanna to comment on.
3. Thanks, let me know when the photos are ready and I will add these in.

[2021-07-28 18:50] #96 closed

[2021-07-28 18:55] kitenetter commented on #94
@kazlauskis the Drupal user ID is 836, and I can ask them for the app version (I'm pretty sure they will have downloaded it in the last few days, and they registered three days ago). How do I find the login timestamp?

I've just noticed that in their email (at 27/07/2021 22:44) they are labelled as "not verified", but they had accessed the website prior to that, according to the "Last access" in t

[2021-07-29 21:44] CCarvell commented on #96
@kazlauskis
1. I have made the requested changes to English text in the Species-data sheet. Relevant cells are coloured green to show where these edits occurred, more for my benefit to see that I have completed them all.
2.  Habitats seem sorted thanks
3.  New/ replacement photos for the insect guide are saved in your Google Drive:
hoverflies_4
beetles_3

Will you be able to send out a confirmatio

[2021-08-02 10:05] kitenetter commented on #94
User ID 836 has now been able to upload their counts. Not quite sure what happened but it sounds like the user got muddled over their passwords. Closing.

[2021-08-02 10:05] #94 closed

[2021-09-06 09:15] kitenetter opened #97 "Failure to upload"
I did a FIT Count yesterday that is showing as Pending on my phone. When I tap Upload it tries to do so for about a second but nothing happens - the survey won't upload, and there is no error message.

Is there anything I can do to find out why it isn't working, and to make it work?

[2021-09-06 10:25] kazlauskis commented on #97
We'll have a look at this asap.

[2021-09-07 11:02] JimChiazzese1 opened #98 "Country specific credit pages"
@kazlauskis    My understanding (from looking at Transifex) is that the credits page is uniform across all the individual country versions of the app, however the names listed for photos credits are county specific - is that correct?
Please can you verify for me the preferred process for sharing the photo/image credits, as seems not via the spreadsheet.
Thanks
Jim

[2021-09-07 12:22] kazlauskis commented on #98
Yes, the page is generic for all the languages/countries apart from the photo credits. You can create a ticket with the list of people you'd like us to show for any specific country and we'll update this in the code.

[2021-09-08 07:23] kazlauskis commented on #97
[https://fitcount.ceh.ac.uk](https://fitcount.ceh.ac.uk) site SSL certificate is broken which prevents the users to login/register or upload the data. @BirenRathod could you please have a look at this?

[2021-09-08 08:15] JimChiazzese1 commented on #98
Perfect - thanks Karolis. There's a chance that page could get very busy, very quickly.
Brazil alone have 14 different photo credits for their flower images, so I wonder if there's consideration for making that page country specific as we go forward?

[2021-09-08 08:21] kazlauskis commented on #98
Yeah, no problem, we can make the whole page country-specific. Another option would be to collapse the credits section so that it doesn't take so much space until expanded.

[2021-09-08 08:31] BirenRathod commented on #97
@kazlauskis No broken certificate found. It works fine. It might need to clear the cache if somebody have open during the site migration.

[2021-09-08 08:54] BirenRathod commented on #97
@kazlauskis Although, fitcount has got same problem of registering as duenscapes got eventhough it has got updated with your latest code.

[2021-09-08 09:04] kazlauskis commented on #97
Oh, is the FIT site Drupal 9 now? if so then what day was it upgraded?

[2021-09-08 09:09] BirenRathod commented on #97
@kazlauskis yes, it is. just yesterday.

[2021-09-08 09:35] kazlauskis commented on #97
Thanks, the upload issue might not be related to this then.

[2021-09-08 09:36] BirenRathod commented on #97
@kazlauskis of course not. that is before I migrated on Drupal 9.

[2021-09-08 11:14] kazlauskis commented on #97
@BirenRathod there is an issue with DP9 authentication. For some reason the same refresh token works in https://live-ceh-fitcount.pantheonsite.io but doesn't work in https://fitcount.ceh.ac.uk, any ideas why?

[2021-09-08 11:18] kazlauskis commented on #97
@kitenetter I am trying to understand better where your issue lies but, at the moment, all the users that have logged in to the app before yesterday are probably affected with a similar problem.

There is something that would be good to try with your app. Could you please re-login and upload the survey? Like this:

1. logout (uncheck 'Discard local data' so you don't loose the surveys)
2. re-login

[2021-09-08 12:23] kazlauskis commented on #97
@BirenRathod can you please give me access to the new site on Pantheon so I can have a look at the modules?

[2021-09-08 12:35] BirenRathod commented on #97
@kazlauskis I didn't find any dissimilarity in both sites. I have added you on new site now.

[2021-09-08 12:38] kazlauskis commented on #97
Thanks. Yeah, I don't know why current user sessions aren't recognised in the new site. I will check the code now.

[2021-09-08 13:47] kitenetter commented on #97
@kazlauskis I logged out and back in, and have just tried the upload (at 2.45pm according to my phone), and the wheel went round for a little longer than before, but it still has not uploaded.

Tried again a fraction before 2.47pm but same result.

[2021-09-08 13:54] kazlauskis commented on #97
Thanks a lot, we are working on this with Biren at the moment. I'll check the logs if there is something new I can pick.

[2021-09-09 18:36] kazlauskis opened #99 "Previous user sessions no longer recognised"
All previous user sessions for some reason are rejected from the upgraded Drupal 9 site. This means all users have to re-login to start uploading the data again.

[2021-09-09 18:36] kazlauskis commented on #99
@BirenRathod I know you have pushed some fixes to the simple_oauth module which is good but something else seems still wrong as the previous refresh tokens are rejected by the new site. Do you know what else could be wrong?

[2021-09-09 18:59] kazlauskis commented on #97
Thanks again for the re-upload. I guess you are a Beta tester and I have find an issue that is very much linked to the Cyprus update. I have now fixed it and pushed the app update, it might take a day or so to reach you but, fingers crossed, your upload should be fixed now. This fix will be in the app v1.0.4 (88), please reopen the ticket if you find this still an issue after the update.

[2021-09-09 18:59] #97 closed

[2021-09-10 07:43] kazlauskis commented on #99
@BirenRathod could you upgrade the module to the latest version (5.0.4?) in the dev environment?

[2021-09-10 09:23] BirenRathod commented on #99
@kazlauskis I have upgraded to its latest version.

[2021-09-10 09:23] BirenRathod commented on #99
The only error, it produces is this -> User notice: Key file "file:///files/private/public.key" permissions are not correct, recommend changing to 600 or 660 instead of 770 in League\OAuth2\Server\CryptKey->__construct() (line 80 of /code/vendor/league/oauth2-server/src/CryptKey.php)

[2021-09-11 08:50] kitenetter commented on #97
The app updated yesterday and my count has now uploaded - thanks.

[2021-09-13 17:28] CCarvell commented on #89
@kitenetter @kazlauskis this issue is not yet resolved - see my next email to the Cyprus app team.
Below are the UK and then Cyprus Credits pages.
Martin, can you please help us identify the few UK images retained in the Cyprus version eg. the honeybees (one is definitely the Malcolm Storey image) and hoverflies. https://fit.app.flumens.io/demo.html
Then we need to add some of the UK photo credits

[2021-09-13 17:42] CCarvell opened #100 "Timing of GPS fix vs Cyprus app release"
@kazlauskis please see my email to the Cyprus team with their Beta testing fixes and outstanding issues.

@kitenetter has received a couple of help emails in the PoMS account that suggest we need to get this GPS fix out ASAP. We only have until 30th September to keep counts coming in and then the UK FIT Count season closes (of course data can still be received).

Please let us know how much time i

[2021-09-14 08:44] kazlauskis commented on #100
@CCarvell  We have finished working on the app right now. Shall we wait for the full credits list update or push it out with the Cyprus + GPS fixes only?

[2021-09-14 08:59] kitenetter commented on #100
I'm working on the full credits list for the UK photos at the moment, will need another hour or so.

[2021-09-14 09:10] CCarvell commented on #100
@kazlauskis thanks - did you implement those minor changes sent by Ioanna that were attached to my email last night?
@kitenetter thanks also - I will copy you in to the email with @JimChiazzese1 so that he is also aware of the UK photo credits to retain for LATAM countries.
@kitenetter and @kazlauskis do we need to put out a quick Tweet to Uk PoMS app users to alert them to update the app, or log

[2021-09-14 09:15] CCarvell commented on #100
@kazlauskis I am in meetings today so please can you notify the whole Cyprus team when you have pushed out the updates, and then again when you have app store approval?

@kitenetter and @BirenRathod it would also be good to check the FIT count website as per my email, for Greek translations and links to the app for Cyprus before it goes live - thanks

[2021-09-14 10:48] kazlauskis commented on #100
OK. Yes, this update will include Cyprus text fixes from yesterday's email.

[2021-09-14 11:37] kitenetter commented on #100
@kazlauskis for the Photo credits in the Cyprus version we need to add three names under the text "Thanks to the following for additional photos" - these names can be added at the end after the Cyrpus team names:

Gail Hampshire via Wikimedia
Malcolm Storey / BioImages
Trounce via Wikimedia

Let me know if you need any further information.

[2021-09-14 11:40] kazlauskis commented on #100
Excellent, thanks!

[2021-09-14 11:40] #100 closed

[2021-09-14 11:41] #89 closed

[2021-09-14 11:41] #98 closed

[2021-09-14 14:17] kitenetter opened #101 "FIT Count website - Greek translations"
If I go to the translations area on the FIT Count website it appears that the Greek translations have not been set up:
https://fitcount.ceh.ac.uk/admin/tmgmt/jobs

However, the translations are available in Transifex.

I don't understand how the Drupal system works for this, and am not sure whether we actually need to use it or whether it is quicker to manually copy and paste the translations from

[2021-09-14 14:28] DavidRoy commented on #101
Let me look at this.  The FIT Count website will be enhanced a lot during the SPRING project.

[2021-09-14 14:30] BirenRathod commented on #101
@kitenetter It will be quicker to use just copy & paste but if transifex module is not in use. Because this module is there and translation already available to use, we should go through Transifex root.

[2021-09-14 16:30] BirenRathod commented on #101
@kitenetter Although cope & paste still needed on below page after activated a particular language. in this case, it is Greek.
https://fitcount.ceh.ac.uk/admin/tmgmt/items/7?destination=node/2/translations

[2021-09-22 09:25] JimChiazzese1 opened #102 "Warehouse ID creation and potential issues - Brazil"
@BirenRathod @kazlauskis @kitenetter @CCarvell @andrewvanbreda

This maybe a question for Andy Van Breda - Please can you include him, I cannot find him on GitHub.
Who is responsible for adding new species/pollinator groups to the warehouse.

Brazil's Fit Count App will have 4 new species to add to their Fit Count, however there are two other pollinator groups that also may be new entries in the w

[2021-09-23 10:29] kitenetter commented on #102
As far as I'm aware, both the UK and Cyprus implementations of the app use the same species list. In the warehouse this list is called "Insect groups (PoMS)" and has ID 221.

I think @kazlauskis will have to let us know what is needed to enable a different list for Brazil. I guess the options are:
1. Set up a completely new species list in the warehouse that the app uses when set to Brazil.
2. Ext

[2021-09-23 15:09] JimChiazzese1 commented on #102
Thanks. (2) Is what we're doing currently, I believe - and the filtering within the app works well.
For me personally, it's more understanding the implications for how adding new entries to the species list might impact the data usability if a country is adding a new species that's more to manage local user expectations, than representing an actual new species.

[2021-09-23 20:34] andrewvanbreda commented on #102
Hi @JimChiazzese1 @kazlauskis @kitenetter

Sorry for the slightly slow response.

As it is Karolis that is dealing with the coding on the app, it is probably best if comments first on how he might like to proceed.
Then I will comment on whether I think that will work with the website, or if I can foresee problems.

However, here are some thoughts on if the existing list were to be extended...

- I

[2021-09-23 20:38] DavidRoy commented on #102
Is it possible to use taxon attributes to tag with countries?  We do something similar for the ebms butterfly species list

[2021-09-24 06:38] kazlauskis commented on #102
Hi all, from the app perspective we can go with both options.

At the moment, we use a single long list (option 2) with custom filtering in the app. This helps to share a species across multiple countries (keeps the same warehouse ID and taxon attributes between countries). But like Andy says it can get messy in reports and websites which might need to implement some sort of per-country filtering.

[2021-09-24 07:06] DavidRoy commented on #102
I would favour a single list with taxon attributes as there is a lot of overlap in lists per country

[2021-09-24 08:24] CCarvell commented on #102
Thanks all for your inputs.  I am happy to go with @DavidRoy 's recommendation (option 2) of a single list and use lessons learned from the ebms.
But its important to remember that with FIT Counts we are in most cases talking about _groups_ of species (ie. insect groups) rather than single species.
I guess we also need to design a system that is resilient and transparent for others eg. if a differ

[2021-09-24 09:43] andrewvanbreda commented on #102
Hi @BirenRathod @kazlauskis @kitenetter @CCarvell,

My thoughts are....

1. Presumably there is existing code that can filter a website based on an attribute. I have not seen that.
Otherwise that will need to be developed.
This is a nice idea though in theory, it could mean the website/app would just automatically show the correct species, and pick up new changes for a country automatically withou

[2021-09-28 08:56] CCarvell commented on #102
@JimChiazzese1 are you happy that we have just about resolved this in order to give a clear answer to our SURPASS partners in the meeting tomorrow?
@andrewvanbreda 's point 3 above might not quite match my interpretation. There should only be one entry for Brazil that includes bumblebees.
For Brazil, we need to have the group "bumblebees (genus Bombus)" turned off, and their suggested new group "b

[2021-09-28 09:55] andrewvanbreda commented on #102
@CCarvell
Ok that is fine if the intention is to have both entries under the one name, I did indeed misunderstand the intention with that.
(What I said was true though if it were to be two separate entires).

[2021-10-06 10:00] JimChiazzese1 commented on #69
_"One idea would be to add a ‘Skip’ button to the location page so that the user can progress the survey pages whilst in the field and add the location information at home before uploading the survey. There would also have to be some sort of reminder to set the location manually in the app"_

I think that would work perfectly. User gets the option to skip if location not working and then is preven

[2021-10-08 11:44] kitenetter opened #103 "Options for using the app for 1 km square FIT Counts"
Just wanted to capture some thoughts on this following discussion at the steering group for UK PoMS today.

In the UK we ask our 1 km square volunteers to carry out FIT Counts as part of the 1 km square surveys. Up until now we have treated these 1 km square FIT Counts as a separate dataset, to be distinguished from the public FIT Counts. Consequently, we have asked our 1 km surveyors not to use t

[2021-10-08 13:11] CCarvell commented on #103
@kitenetter of your 3 options, I think option 1 is the best from a user and data analysis perspective (some of our 1 km square surveyors will want to use the app outside of 1 km squares so 2 is risky; 3 seems fiddly for you/ the person with the database). Option 1 could be tricky from the app design perspective BUT based on your other questions:

a) Yes it could be an issue for the EU scheme, they

[2021-10-12 10:41] kitenetter opened #104 "FIT Count app user export"
I want to be able to export user details, including their email addresses and whether or not they have given permission to be contacted. I can't see a way of doing this from the "People" page.

I've set up a view:
https://fitcount.ceh.ac.uk/admin/structure/views/view/fit_count_users

which displays on this page:
https://fitcount.ceh.ac.uk/fit-count-users (only available to admins)

1. Is that the

[2021-10-12 10:46] kitenetter opened #105 "How can we link users to country pollinator projects?"
FIT Count app users may be contributing to one of several country-based pollinator projects. On registration, they are asked if they wish to be contacted. But as far as I can see we have no way of knowing which country project they are associated with.

This means that if I want to contact all FIT Count app users who have contributed to the UK Pollinator Monitoring Scheme I have no easy way of doi

[2021-10-12 11:05] kazlauskis commented on #105
We already ask which country the user belongs to in the app. This tailors the UX, i.e. different species lists, habitats but this setting is only stored in the device at the moment. What we could do is to also save this choice in the website so you could then use it when contacting users or analysing the data.

[2021-10-12 11:21] kitenetter commented on #105
Ideally we want to be able to contact all people related to the country who have given permission to be contacted, regardless of whether they have yet submitted counts, so Karolis' suggestion sounds good.

[2021-10-12 11:32] kitenetter opened #106 "Linking samples to emails"
If I need to link samples to the email addresses of the users who contributed them I normally use cache_samples_nonfunctional.attr_email, but that attribute has not been populated for any of the FIT Count app samples.

Is there a reason why this does not happen?

I guess I can construct a query using the people and user tables instead of the cache attribute but it makes things more complicated!

N

[2021-10-12 15:20] #104 closed

[2021-10-13 12:44] JimChiazzese1 commented on #69
@kazlauskis @CCarvell Just to pick this up again - Is it possible to implement this functionality and if so, at what stage should it be done.
One other refinement is to allow the user to add text so they can easily identify the survey when adding the location when back online before submitting.
So workflow becomes:
- No GPS or mapping available
- User 'skips' or selects to enter location later
- U

[2021-10-14 07:26] kazlauskis commented on #102
You should add the new options to the warehouse now but I am not sure who is responsible for this. From my perspective I just need the new warehouse IDs of these options in the spreadsheet

[2021-10-14 07:39] DavidRoy commented on #102
@JimBacon can you do the warehouse setup please

[2021-10-14 15:59] andrewvanbreda commented on #102
@JimBacon @kazlauskis @kitenetter @DavidRoy
Sorry busy, so not following this thread in detail, but just poked my nose in.
I see the following are appearing suddenly on UKPoMS Live, is that a correct situation?

Bumblebees sensu lato
Don't know
Flies
Hummingbirds
Orchid bees
Stingless bees

[2021-10-14 16:36] kitenetter commented on #102
I think @andrewvanbreda has been adding suitable filtering for the other elements, and we need to ensure that none of this is going to conflict with his approaches to filtering elsewhere.

[2021-10-19 10:54] JimChiazzese1 opened #107 "Images credits for Brazil"
[FitCount_Brazil_ImageCredits.docx](https://github.com/NERC-CEH/fit-count-app/files/7372527/FitCount_Brazil_ImageCredits.docx)

@kazlauskis  Attached are the alternative image credit details required for Brazil

[2021-10-19 10:56] JimChiazzese1 commented on #107
Meant to comment that this becomes a very long list, as Brazil images from various internet sources. Given the size of the list, it may be an improvement to have the additional credits in a drop down? Or moved below to the bottom of the credits page?

[2021-10-20 08:12] #107 closed, assigned to nobody

[2021-11-04 11:50] kazlauskis opened #108 "Portuguese translation missing"
Check why the translation isn't showing up in this page:
![image002](https://user-images.githubusercontent.com/7383162/140308731-47f92113-d65d-4c3f-9c1d-53061933a601.png)

[2021-11-11 12:35] JimChiazzese1 opened #109 "Portuguese Demo app review results/issues"
[corrections_Nov2021_JimNotes.docx](https://github.com/NERC-CEH/fit-count-app/files/7520416/corrections_Nov2021_JimNotes.docx)

@kazlauskis All the issues / comments from Brazil have been reviewed.
Where appropriate I have correct the master spreadsheet.
There are issues relating to the use of the term 'flower/floral visitor' in preference to 'insect' - these have been updated in the Portuguese in

[2021-11-11 13:05] JimChiazzese1 commented on #109
@CCarvell Just for your information Claire. The majority of the Brazil changes related to the need to change from 'insect' to 'flower visitors' so that it makes more sense in the bat/hummingbird context.

[2021-11-11 14:35] kazlauskis commented on #109
@JimChiazzese1 thanks for the comments in the doc. I am splitting these up into multiple tickets for convenience.

[2021-11-11 14:35] #109 closed

[2021-11-11 14:36] kazlauskis opened #110 "Home screen btn text hidden"
![image](https://user-images.githubusercontent.com/7383162/141315987-aa010879-1a05-4921-8c95-f4d46cc66231.png)

@JimChiazzese1  for the home screen I can wrap the button label text, would that be OK?

![Screenshot 2021-11-11 at 16 15 03](https://user-images.githubusercontent.com/7383162/141313261-5c00728c-ae13-4df3-9f75-98c98fa0ab7b.png)

[2021-11-11 14:37] kazlauskis opened #111 "Info guide text"
![image](https://user-images.githubusercontent.com/7383162/141316096-7fa9e1d1-1f2d-4916-aa22-edffa7f996e0.png)

@JimChiazzese1 It is unclear to me what this means. Is there a problem with the guide?

[2021-11-11 14:38] kazlauskis opened #112 "Bumblebees sensu lato (insect guide) switch slide order"
![image](https://user-images.githubusercontent.com/7383162/141316370-4720fdfc-c2e2-42bc-a5c7-8fae511f12bc.png)

[2021-11-11 14:42] kazlauskis commented on #112
@JimChiazzese1 I've done this one now. The order of the slides are defined by the order of the rows in the spreadsheet, not the file names. This is one of the reasons why we could be flexible when formatting the file names is that the app doesn't sort the slides by the file name.

![Screenshot 2021-11-11 at 16 27 54](https://user-images.githubusercontent.com/7383162/141316923-9dac7342-7415-4d08-a2

[2021-11-11 14:42] #112 closed

[2021-11-11 14:44] kazlauskis opened #113 "Flies text is wrong"
![image](https://user-images.githubusercontent.com/7383162/141317025-398edd4b-0989-4834-973b-8dce18e56497.png)

@JimChiazzese1 what should this be?

![Screenshot 2021-11-11 at 16 33 01](https://user-images.githubusercontent.com/7383162/141317168-e93307ea-20dc-404c-b82d-bb3bab7e2671.png)

[2021-11-11 14:46] kazlauskis opened #114 "Fix italic on “Hylaeus”"
![image](https://user-images.githubusercontent.com/7383162/141317607-11ef7e71-6a4d-456b-bcda-d6b92e169d5d.png)

[2021-11-11 14:49] kazlauskis commented on #114
@JimChiazzese1 I've fixed this now - one of the \<i> tags in the text was an uppercase. Maybe it is worth adding a comment to the guide that the text formatting is case sensitive.

![Screenshot 2021-11-11 at 16 45 59](https://user-images.githubusercontent.com/7383162/141317980-60b32436-1296-4b43-bee9-1946a4b35a8a.png)

[2021-11-11 14:49] #114 closed

[2021-11-11 14:57] kazlauskis opened #115 "Fix Brazilian credits page"
![image](https://user-images.githubusercontent.com/7383162/141319444-97e22bb7-1fe9-477a-89ad-d21b84a7575e.png)

[2021-11-11 15:21] JimChiazzese1 commented on #113
Sorry - will need to check in on this again. When I initially looked it appeared that there was text from the butterfly guide appearing under the flies section, but I can't work out the error. will get back to you on this one

[2021-11-11 15:24] JimChiazzese1 commented on #111
The issue is on the information page - point 8 shows in English rather than Portuguese.

Identifique os visitantes florais em seus grupos mais amplos (abelhas, moscas, etc.) - qualquer um que você não reconheça deve ser contado como "outros insetos" ou "não sei".

![image](https://user-images.githubusercontent.com/84846811/141323845-3d0750db-92e8-4c98-8411-32ba477f1fe2.png)

[2021-11-11 15:26] JimChiazzese1 commented on #110
May or may not be necessary. Brazil seem to have updated the text in transifex to read Começar a pesquisa
That may fit, without the need to expand the button

[2021-11-11 15:33] JimChiazzese1 commented on #113
Have reviewed.

What appears in the Portuguese version is;

As **borboletas** se alimentam de néctar e pólen, mas não coletam néctar e não têm cestas de pólen.

This translates as "Butterflies feed on...."

It should read;

As **moscas das flores** se alimentam de néctar e pólen, mas não coletam néctar e não têm escopa para carregar pólen.

Which is what actually appears on transifex. It is also c

[2021-11-11 15:38] kazlauskis commented on #113
OK, this was just the matter of pulling in the new translations then.

[2021-11-11 15:38] #113 closed

[2021-11-11 15:41] #108 closed

[2021-11-16 15:06] JimChiazzese1 commented on #111
Still an issue with this in Portuguese

[2021-11-16 15:28] JimChiazzese1 commented on #111
[FitCount_Brazil_ImageCredits.docx](https://github.com/NERC-CEH/fit-count-app/files/7547553/FitCount_Brazil_ImageCredits.docx)

@kazlauskis

[2021-11-17 07:09] kazlauskis commented on #111
Do you mean these two paragraphs being in English? This is because there is a missing translation for this in Portuguese.

<img width="450" alt="Screenshot 2021-11-17 at 09 05 38" src="https://user-images.githubusercontent.com/7383162/142150797-47b4de53-199e-40bc-b70e-15b029b08442.png">

[2021-11-17 07:15] kazlauskis commented on #115
@JimChiazzese1 can you confirm the credits page is OK now?

[2021-11-17 10:30] JimChiazzese1 commented on #111
@kazlauskis Apologies Karolis, that's a little embarrassing, makes perfect sense.
The Brazil team have completed the final translations, so should be able to reimport it all now
Jim

[2021-11-17 10:32] JimChiazzese1 commented on #115
@kazlauskis Yes, that looks all fine now

[2021-11-17 12:44] #115 closed

[2021-11-17 12:45] kazlauskis commented on #111
No problem, this is done now.

[2021-11-17 12:45] #111 closed

[2021-11-17 14:25] JimChiazzese1 opened #116 "App and online demo online log in issues"
@kazlauskis Seems there maybe an issue with the log in on the app.
One of the Argentinean team were able to register on the app, complete all the forms, but when pressing 'signup' nothing would happen.
They also tried creating an account via the PoMS site, which seemed to work, but then unable to log-in to the app.
(They have tried this both via the app itself and the demo)

I've just logged out o

[2021-11-17 14:35] DavidRoy commented on #116
There has been signup and login to https://fitcount.ceh.ac.uk/ in the last 24 hours.
@JimChiazzese1 - the UK PoMS site registration is different. The app is linked to the FIT Count website.

[2021-11-17 14:42] JimChiazzese1 commented on #116
Apologies, yes, not sure how PoMS slipped in there - should have only been reference to the app and the FIT count site.

[2021-11-18 09:07] kazlauskis commented on #116
Is this in the app demo website only or in the app as well?

[2021-11-18 09:10] kazlauskis commented on #116
When you register in the app, it automatically signs you in. Is this issue about the registration or sign in or both? 🙂

[2021-11-18 09:50] JimChiazzese1 commented on #116
ok. the issue seems to be the app demo for me.
I can log into the app with my jimchi@ceh.ac.uk account and into the Fit Count webpage, but the same credentials aren't working on the app demo

[2021-11-18 09:51] JimChiazzese1 commented on #116
(i'm on chrome by the way...)

[2021-11-18 10:44] kazlauskis commented on #116
OK, thanks. The demo was originally not intended for other than development usage so we don't test it much. Having said this, people are using it for translations now which is convenient as translators don't need to install a Beta app in this case. I wonder if it is worth fixing it now or shall I push the Brazilian Beta out? A quick fix could be to disable a login step in the demo app so that tran

[2021-11-18 10:46] kazlauskis commented on #116
@JimChiazzese1 when you're logging in, are you using your mobile browser or is it a desktop? Maybe try both ways. Also, are you using the password manager to pre-fill the email/password for you or do you manually type it in?

[2021-11-18 10:59] JimChiazzese1 commented on #116
@kazlauskis I've tried on mobile and desktop browsers, using password manage and manual entry repeatedly.
I agree with your previous comment, the demo is increasingly important for users to be able to check against quickly, especially seeing the images other countries have used, so it's the best tool for help create gather new species and insect guide information.
Brazil should be ready to have th

[2021-11-18 11:24] kazlauskis commented on #116
OK, thanks, I'll disable the login now then.

[2021-11-18 12:04] #116 closed

[2021-11-25 14:50] CCarvell commented on #86
@JimChiazzese1 after our discussion today, see above that Martin notes the privacy and terms text is on Transifex. If you could still review it and check it's fit for purpose for Brazil etc - they could then have the option to slightly modify the wording in their translation - except that would be OK for Portuguese and Brazil, but the Spanish version would have to agree between Chile and Arg.

[2021-11-25 15:17] CCarvell opened #117 "FIT Count donut graphics and need to exclude other countries from UK"
On the PoMS website donut graphics page we state:
"The charts are based on data from all FIT Counts submitted from the UK and Isle of Man, between 1 April and 30 September each year"
https://ukpoms.org.uk/flower-charts
Two questions:
1. Can we check with Rich Burkmar, @kitenetter and Andy v-B that these FIT Count graphics have stopped updating as of end September, and are definitely filtering out

[2021-11-26 14:00] andrewvanbreda commented on #117
Hi @burkmarr @CCarvell

Richard did these so he will have to answer the questions on this as I simply don't know about their implementation.
What I can say is that on other areas of the site, the report code limits it to the UK as part of the report setup, so the graphs will need to do that themselves also (it isn't automatic)
I am happy to talk to Richard about this if needed.

[2021-11-26 14:39] kazlauskis opened #118 "Country to be applied to sample"
From BiologicalRecordsCentre/SPRING#12

Add sample attribute ID = 1640 with the country code to each submitted sample (and subsamples?).

[2021-11-29 10:34] burkmarr commented on #117
The XML reports which serve the data for the charts are:

- https://github.com/BiologicalRecordsCentre/indicia-reports/blob/master/reports/projects/PoMS/poms-donuts-1.xml
- https://github.com/BiologicalRecordsCentre/indicia-reports/blob/master/reports/projects/PoMS/poms-donuts-1-my.xml

They inlcude these clauses to restrict records to those made between April and September inclusive:
[code]

This

[2021-11-29 11:18] andrewvanbreda commented on #117
@burkmarr
Hi Rich,
Thanks for the info here. It is useful to see this as then can spot any differences between what you are doing and myself.
One difference I have noted is with the locations.
The parameter I use on reports is this
intersect_location_ids=1605,1614,1606,1612,214127,203170,203169

So I have two extra locations, these are Jersey and Guernsey, so I think you need to include those unle

[2021-11-29 11:25] kitenetter commented on #117
@andrewvanbreda @burkmarr I think this is all fine as it stands. The website needs to allow for the collection of some data (e.g. for Channel Islands) that is not actually used for PoMS  analysis in the UK. And although we don't analyse data from outside the Apr-Sept period, we don't currently want to make it impossible for data to be submitted outside this period.

So the discrepancies between fi

[2021-12-01 13:11] JimChiazzese1 commented on #86
Thanks for the links @kitenetter I see now I was searching within the app part of Transifex and not the separate website section. I'll request Portuguese is added to that and have the Brazil team translate, after reviewing appropriateness with them.

[2021-12-01 13:13] JimChiazzese1 commented on #86
@kazlauskis Can you please give me permissions on transifex for the FitCount website so that I can invite translators. I've also requested Portuguese to be added as a language. Thanks Jim

[2021-12-01 13:18] kazlauskis commented on #86
@JimChiazzese1 I have now added you to the website maintainers list.

[2022-03-03 09:29] JimChiazzese1 opened #119 "Brazil Beta Ios issue"
@kazlauskis  Had this comment from Brazil, re: Brazil version of the app - "finally tested the beta version of the app for iPhone and it has not worked (it returns a message saying that "this beta version does not accept new users"). So we could not access the Brazil version, do you know if there is any problem?"

It still appears fine on android - is there a way of testing/confirming on ios?

[2022-03-03 12:36] kazlauskis commented on #119
iOS Beta testing is only allowed for maximum 90 days, at that point we either need to release it or rebuild and issue a new Beta test.

[2022-03-09 16:13] JimChiazzese1 commented on #119
Thanks Karolis - What's involved in issuing a new Beta test on iOS? Do we need to make and report significant changes or can we just release a new version the same as the previous one, so that Brazil can test? Thanks

[2022-03-16 11:15] JimChiazzese1 commented on #119
As per email. I think we do the ireland work and release together.

[2022-03-22 13:28] #119 closed

[2022-03-22 13:29] kazlauskis opened #120 "Add Brazil and Ireland"

[2022-03-22 14:12] kazlauskis commented on #120
@JimChiazzese1 Ireland is now in the [web demo app](https://fit.app.flumens.io/demo.html)

[2022-03-23 11:07] JimChiazzese1 commented on #120
Thanks Karolis, Just reviewed and there's a couple of things I've noticed:

- Orchid bees appear as an option on the fit count itself and the insect guide, and shouldn't be there (bee there...)

- Habitat. There are three habitat categories that should appear differently in the Ireland version.

1. Upland moorland should appear as Upland bog/heath
2. Lowland heath should appear as Lowland bog/heat

[2022-03-24 09:51] kazlauskis commented on #120
Lowland heath should appear as Lowland bog/heath
Waste ground or brownfield site should appear as Waste ground

Each habitat can have only one name. To change a name should be added to the main excel file as new rows. Ideally, this should be created as new entries in the Warehouse too but if the meaning is the same then you can just probably copy over the warehouse IDs from the similar habitats to

[2022-03-24 09:53] kazlauskis commented on #120
I've fixed the orchid bees now. The cell had some empty string inside and the script was just pulling this in as it contained some value, so I've made it to skip sheet cells with just empty spaces now.

[2022-03-24 11:31] JimChiazzese1 commented on #120
Thanks Karolis. I've now added the new habitats to the list, and referenced the same warehouse ID's. I'll double check with Martin if that will be fine, but think you're right. Thanks Jim

[2022-03-30 12:40] JimChiazzese1 opened #121 "Updates for Ireland beta"
- [x] Update credits

Jim: The photo credits are: Liam Lysaght, Colm Moriarty, John Walsh, Mary Douglas

- [x] On the Information circle page – is it possible to have our website link there? https://biodiversityireland.ie/surveys/fit-counts

Jim: Replace http://ukpoms.org.uk/fit-counts with the link above

- [x] Renaming of the three habitats

Jim: Waiting on response from Ireland

- [x] Bumblebee

[2022-03-31 07:51] kazlauskis commented on #121
Thanks, let me know when the warehouse IDs are finalised and we'll start the work on it.

[2022-03-31 07:53] kazlauskis commented on #120
As far as I understand, the Brazil is now done, is that right? We can then probably close the ticket and leave the Ireland #121  open.

[2022-03-31 07:56] kazlauskis commented on #11
@kitenetter can this be closed now?

[2022-03-31 07:59] kitenetter commented on #11
Closing.

[2022-03-31 07:59] #11 closed

[2022-03-31 08:08] JimChiazzese1 commented on #121
Ireland would like the habitats to appear differently in the reports to avoid confusion for users, so I will be requesting those from Martin as well, although would like to verify with Claire/David. My concern is that too many new targets and IDs jeopardises future cross country analysis.  Regarding the flowers, I think then, we only need to use the warehouse ID for red clover don't we?

[2022-03-31 08:09] JimChiazzese1 commented on #120
There's a flower image change to make, I'll review today and update the spreadsheet and content as necessary and let you know.

[2022-03-31 08:19] kazlauskis commented on #121
Yes, I think so. The species can be linked through synonyms. @DavidRoy

[2022-03-31 10:36] JimChiazzese1 commented on #120
Brazil just needed a couple of images changing. That's now done and uploaded, but waiting on the image credits.

[2022-03-31 10:48] kazlauskis commented on #120
OK, thanks.

[2022-03-31 16:02] DavidRoy commented on #121
For the different habitat names we could potentially use term-list synonymy?
@andrewvanbreda can you advise on options for this?

[2022-03-31 16:29] andrewvanbreda commented on #121
Hi @DavidRoy ,

As I am just jumping in here to this discussion,  I do not have a detailed understanding of the conversation.

If it is just reporting, synonyms could be used in the warehouse (although the report would need to understand which synonym to display if there is more than one non-preferred in same language).

If not just reporting, do the different habitat names need to appear differen

[2022-04-05 11:12] JimChiazzese1 commented on #121
The original request from Ireland was to change the name of some existing habitats so that they were more relevant/fit for purpose for Ireland:
Upland moorland to appear as Upland bog/heath
Lowland heath to appear as Lowland bog/heath
Waste ground or brownfield site to appear as Waste ground

Initially Ireland were fine to have just a wording change on the app with the count going into the existin

[2022-04-05 11:24] DavidRoy commented on #121
@JimChiazzese1 @andrewvanbreda.  Thanks for your inputs on this.  On balance, I think Jim is right about creating new habitat terms for this Ireland requirement.  The alternative of using synonym still leaves the problem of agreeing the preferred english version of the habitat names.

@andrewvanbreda could we use the termlists_terms.meaning_id to link together the different names for the same habi

[2022-04-05 12:50] andrewvanbreda commented on #121
Hi @JimChiazzese1 @DavidRoy @kazlauskis ,

OK I have had a think about this.

I suppose firstly to directly answer your question.
Setting the meaning_id would be equivalent to being a synonym.

I think one thing is clear.
The new entry must be linked to Ireland using the new country functionality, as we have done with other countries.

I think the actual question is whether the new entry in the Wa

[2022-04-05 19:35] andrewvanbreda commented on #121
Hi @JimChiazzese1 @DavidRoy @kazlauskis,

I've had another think about this.

I think it would be a bad idea for me to sit here and suggest something really complex (that we then find has a problem down the line, and because of the complexity is really difficult to undo).

So I think it is best to start with something simple, we can then change that solution if needed because it is simple....or bu

[2022-04-06 08:13] DavidRoy commented on #121
Agreed.  Can you go ahead and setup the new terms for Ireland @andrewvanbreda

[2022-04-06 08:17] #120 closed

[2022-04-06 08:40] andrewvanbreda commented on #121
Hi @DavidRoy,
Apologies, as I jumped late  into this conversation can I just confirm the exact change you need (I think there is also another action we need, that we didn't mention before).
My understanding is as follows:

Termlist 667 (http://warehouse1.indicia.org.uk/index.php/termlist/edit/667?tab=terms) neeeds 3 new entries:
- Upland bog/heath
- Lowland bog/heath
- Waste ground

Those 3 entrie

[2022-04-06 08:41] DavidRoy commented on #121
@andrewvanbreda that is my understanding so please go ahead.
@kazlauskis @JimChiazzese1 to let us know if anything different is needed

[2022-04-06 09:16] andrewvanbreda commented on #121
@DavidRoy
Done.
I forgot there would be entries for other countries, so I didn't add all the other terms to Ireland, only the ones which were already allocated to UK and the differences we mentioned.

The list attached to Ireland is therefore as follows:
Amenity grassland (usually mown short)
Churchyard
Farm crops or grassy pasture
Garden
Grassland with wild flowers (e.g. meadow)
Grassy verge or h

[2022-04-06 09:25] JimChiazzese1 commented on #121
Many thanks for this Andrew - I assume there are new warehouse IDs for the new terms (Upland bog, Lowland bog, waste ground), can you share those please.
At this stage I don't have any access to warehouse end of things, which is perhaps something that will change as we progress, but for now, probably best I'm kept at a distance from that.
Thanks Jim

[2022-04-06 09:33] andrewvanbreda commented on #121
Hi @JimChiazzese1

The termlist term IDs in the warehouse are:
Waste ground = 20079
Lowland bog/heath = 20080
Upland bog/heath = 20081

I assume these are the IDs you are after? (for example the old "Brownfield or other 'waste ground'" was 13567)

Hope that helps

[2022-04-06 09:55] JimChiazzese1 commented on #121
Many thanks Andrew - I believe that's exactly what's needed at this stage. Thanks Jim

[2022-04-06 10:32] kazlauskis commented on #121
@JimChiazzese1 this is done now. The only one I wasn't sure is the `Bumblebees screen two: can there be a number 1 pointing to the pollen ball` task in the description, but if this is part of the images or the datasheet then this should be imported now too. Please close the ticket if all is done.

[2022-04-06 10:56] JimChiazzese1 commented on #121
Thanks Karolis. The bumblebee screen just involved an image edit, which I took care of and uploaded the replacement image, so that's now taken care of.
I'm afraid just one tiny change - the link on the information page is correct, but the URL text doesn't display only a hyperlink icon. Can we update that to also show the full URL hyperlinked to the location please.
Then we're done - I'll ask Irela

[2022-04-06 11:15] #118 closed

[2022-04-06 11:16] #121 closed

[2022-04-06 12:03] #82 closed

[2022-04-06 14:18] JimChiazzese1 opened #122 "Ireland release to beta"
Ireland have reviewed the online demo and would like to proceed to beta. Thanks Jim

[2022-04-08 10:56] kazlauskis commented on #122
The new Beta is now ready.

[2022-04-08 10:56] #122 closed

[2022-04-08 11:45] JimChiazzese1 commented on #122
Great - that's updated for me, but can you please remind me how a new user installs the beta? Thanks Jim

[2022-04-11 08:05] kazlauskis commented on #122
Here are the links that should explain this to the users:
Android: https://flumens.notion.site/Android-app-Beta-testing-66b6f016ed624ee3adc1b7bd03063c3b
iOS: https://flumens.notion.site/iOS-app-Beta-testing-d66f1153f20b4f329d4cfe9fc82b6523

[2022-04-12 07:57] JimChiazzese1 commented on #122
Sorry Karolis. I think I meant how does a user find the beta url to install - When I uninstall and attempt to reinstall the FITCount from google play, it automatically brings up the FITCount Beta and knows I'm a beta tester, so assume that's due to cache of some sort.
If someone completely new is looking for the Beta test URLs - where do they find that? Apologies if I'm missing something completey

[2022-04-12 08:01] kazlauskis commented on #122
Sorry! Yep, these are the links to join the Beta testing program:

* Android devices: https://play.google.com/apps/testing/uk.ac.ceh.fit
* iOS devices: https://testflight.apple.com/join/aVHilgCx

[2022-04-12 08:16] JimChiazzese1 commented on #122
Excellent - thanks Karolis.

[2022-04-14 09:08] JimChiazzese1 opened #123 "Brazil - Text Change"
Hi @kazlauskis
Brazil requested a text change to flower descriptions so that it was more appropriate for their users. Initially brazil requested a change to the English as well, but we've pushed back on this so the change is only to the Portuguese (actually I think we discussed this in email)

"spikes" to "long inflorescences" ("inflorescências compridas" in Portuguese)
"flower heads" to "circular

[2022-04-14 14:01] JimChiazzese1 opened #124 "Ireland - Beta iOS display issue"
![Ireland_iOS](https://user-images.githubusercontent.com/84846811/163403922-cfa96bf7-5838-4723-a90f-ef6178d143c4.png)

Beta tester on iOS in Ireland reports an issue with species name display in count mode - see attachment.

[2022-04-14 14:16] JimChiazzese1 commented on #124
iPhone 7 Software Version 13.5.1

[2022-04-19 07:17] #124 closed

[2022-04-19 09:04] kazlauskis commented on #123
The app shouldn't have any references to the flower type that aren't in the Transifex.

As for the demo app update. I am not sure what you mean as we have moved past that and there already exists a Beta that people can install to their devices.

[2022-04-19 09:04] #123 closed

[2022-04-26 11:38] JimChiazzese1 opened #125 "Ireland go live"
Ireland have fully reviewed the beta and are happy to move this live now. I've not had confirmation from Ireland directly that the iOS issue with the count species text was fixed, but I see it was fixed from your side.
Can you let me know anything we need to know about going live, anything we need in place or timeline?
Thanks
Jim

[2022-04-26 11:59] kazlauskis commented on #125
From my perspective, we can go live. The iOS issue is fixed but not in Beta yet, it will come out in the live release though. I can release it now and it should take up to 7 days (typically 2-3 days) for the app stores to review the app for the public release.

@JimChiazzese1 should I release it then?

[2022-04-26 12:37] JimChiazzese1 commented on #125
Yes please. Let's release.
Thanks
Jim

[2022-04-26 12:46] kazlauskis commented on #125
OK, I've pushed it for the public review now. It should come out shortly 🙂

[2022-04-26 12:46] #125 closed

[2022-04-27 09:01] JimChiazzese1 commented on #123
Thanks Karolis. Regarding the demo app, I assumed everything was updated in there by default, so that it reflects everything that will go on to either beta or live, or do you have to maintain the demo app seperately?
I just mentioned that so the brazil team could check the terms now displayed as they needed, before the effort of uploading the Beta. In theory, as long as each instance of spikes and

[2022-04-27 11:13] kazlauskis commented on #123
No problem. Transifex changes don't automatically come to the demo app as we have to manually pull these in. I think, the flower type translations were done after we have pushed the app for Beta testing so it didn't make it to the public yet. We could update the translations and push these to the demo if you'd like? Then if these are OK we could release a new app version with the translations chan

[2022-04-27 11:25] JimChiazzese1 commented on #123
If we could update translations and push to demo that would be useful thanks.
I didn't realise that Brazil was actually live, I thought it was only Beta? Out of interest, do you know if it's possible to have both the live and beta installed on the same device? Doesn't seem possible to download the public app from google play, it defaults to the beta.

[2022-04-27 11:39] kazlauskis commented on #123
In general, no, you can't install different versions of the same app. Users can leave the Beta testing program to install live versions but by default, Beta users should get whatever is the latest version.

Sorry for the confusion. Brazil was in Beta testing for a long time now and after we've added the Ireland to Beta and released it to live both countries went to the live app stores. In case we

[2022-04-27 11:43] JimChiazzese1 commented on #123
Got it! Makes perfect sense, we'll keep everythink on the demo online app, until country is completely satisfied with it and push to beta at an agreed time and for an agreed period, just long enough to test and have just one country in beta at a time. The S.American countries are a bit more of a challenge as they don't have an existing paper based FITCount already, so proving a bit harder for them

[2022-04-28 13:31] JimChiazzese1 opened #126 "Germany to online demo app"
I belive we have all the content now for Germany - please can you create the online demo app
Translation all appears complete
One single new species image added to the flumens folders, however the thumbnail folder won't let me upload the new thumbnail image, so that's attached here.
Master spreadsheet all updated.

![carpenterBee](https://user-images.githubusercontent.com/84846811/165763330-88ade0

[2022-04-29 06:36] kazlauskis commented on #126
Thanks, I'll pick this up next week.

[2022-05-03 11:28] kazlauskis commented on #126
@JimChiazzese1

* I have added the new thumbnail
* Pulled in the latest data sheet
* Pulled in the latest translations
* Fixed the Germany code from GR to DE
* Updated the app demo page

Looks like the German translators didn't quite follow the guidance. Some of the interfaces will be showing wrong in German because the tags (eg. <1>, <b> etc )were omitted in the translations.

[2022-05-04 09:26] JimChiazzese1 opened #127 "Ireland live app not opening"
Just had this comment from Ireland:

_I just tried to install. It seems to install but won’t open? You get a blank screen. I had someone else check who wasn’t involved in beta testing and she has the same issue. We’re both on android_

[2022-05-04 09:37] kazlauskis commented on #127
I cannot reproduce this yet. What is their Android system version? Does reinstalling the app help?

[2022-05-04 09:50] JimChiazzese1 commented on #127
Android 12 in both cases. Have tried uninstall and reinstall but same issue.

[2022-05-04 11:21] JimChiazzese1 opened #128 "Chile spreadsheet content to transifex"
Chile content is updated on the spreadsheet, please can this be moved to Transifex for translation.

[2022-05-04 13:02] kazlauskis commented on #127
@JimChiazzese1 there was indeed an issue for the Android 11/12 devices. I have now fixed it and pushed an update v1.1.1. It should come out shortly.

[2022-05-04 13:02] #127 closed

[2022-05-04 13:35] JimChiazzese1 commented on #127
excellent - thanks Karolis. Will let you know when Ireland verify all good.

[2022-05-05 06:54] kazlauskis commented on #128
This is done now.

[2022-05-05 06:54] #128 closed

[2022-05-05 08:21] JimChiazzese1 opened #129 "FITCount camera use on android 12"
Testing the app (here and Ireland) and unable to directly open the camera to take a photo from the prompt on the app.
Apologies, but I'm not aware if that was always the case or if this is a new issue on android 12.
Should we be able to click through from the app or can we only upload gallery images to a count?
If the latter, we'd probably need to update the text so users know to take an image fir

[2022-05-05 08:52] kazlauskis commented on #129
Thanks, I'll look into this.

[2022-05-05 09:04] JimChiazzese1 commented on #128
Thanks Karolis. Can you remind me about the tagging of country content in Transifex. I remember you had a work around/solution so that a country would only see the text being used in their version of the app to prevent them needless translating content they don't need. Can you share details of how a coutry achieves that please.
Thanks
Jim

[2022-05-05 10:27] kazlauskis commented on #129
It is fixed now and will come out in v1.1.2 shortly.

[2022-05-05 10:27] #129 closed

[2022-05-05 10:49] kazlauskis commented on #128
@JimChiazzese1 Here you go https://flumens.notion.site/Filtering-translations-6275210fbcb94ab5a53413a1a31cd833

[2022-05-05 11:46] JimChiazzese1 commented on #126
To clarify. When translating , the translator simply adds the numbers by clicking on the number/s in the english version on the top right and that will put the number in the correct place in their translation? I realise this is something I should have explained, but overlooked as everyone else did it without prompting previously.

[2022-05-05 12:37] kazlauskis commented on #126
Yes, clicking on the number is the easiest. When you hover over it you can see the actual tags these numbers represent (e.g <1> or < i> ) that is behind it. Alternatively, the translator can just type in the tags in the translations too.

[2022-05-10 12:29] JimChiazzese1 commented on #126
Germany have now updated Transifex, so hopefully that's issue solved. Please can the updates translation content be pulled into the online demo. Thanks Jim

[2022-05-10 14:06] kitenetter opened #130 "Linking FIT Counts to projects"
This is just a placeholder for future development.

We receive regular requests from particular projects who want to encourage their volunteers to do FIT Counts, but want to be able to collate all the data from those volunteers. Sometimes the projects have a geographical focus and would like to be able to collate counts for a defined area, and sometimes the project is more wide-ranging and wishes

[2022-05-10 14:08] kitenetter commented on #130
List of requests received:
- Commonwealth War Graves Commission (https://www.cwgc.org/) - volunteers at multiple sites
- Pollinating London Together - City of London area

[2022-05-11 13:55] JimChiazzese1 opened #131 "FITCount online demo not working"
https://fit.app.flumens.io/demo.html is currently giving the follow error code

404: NOT_FOUND
Code: NOT_FOUND
ID: lhr1::9m68n-1652276640075-acbbbadf7cc5

[2022-05-11 13:56] JimChiazzese1 commented on #126
After discussions with Germany and Chile about the use of verge, edge, stream and river – please can we change the habitat category 20086 from ‘verge along a stream or river’ to ‘Freshwater edge’.

Only Germany is currently actively using this target habitat.

I’ve updated this text in the spreadsheet already, please can you update on the demo app when you can.

[2022-05-11 15:16] JimChiazzese1 commented on #126
Sorry, should have added - the translation is Uferbereich von Flüssen, Bächen oder Seen - I can add this once Freshwater edge is in transifex

[2022-05-11 17:42] kazlauskis commented on #131
Yeah, there was some change to the hosting provider's settings. I'll fix it asap.

[2022-05-12 06:45] kazlauskis commented on #131
That's done now.

[2022-05-12 06:45] #131 closed

[2022-05-12 06:45] kazlauskis commented on #126
All done 👍

[2022-05-12 06:45] kazlauskis commented on #126
Btw, I've added the new German translation to Transifex.

[2022-05-12 09:09] JimChiazzese1 commented on #126
Thanks Karolis, afraid there was a spelling error/typo in the translation of Freshwater edge that crept in, I've not updated that on Transifex. (It's Uferbereich von Flüssen, Bächen oder Seen, but was showing as Ferbereich von Flüssen, Bächen oder Seen.
Also, for carpenter bee, the text and image is missing from both the german and english versions of the insect guide - looks ok in transifex, migh

[2022-05-12 12:57] kazlauskis commented on #126
done

[2022-05-26 11:52] JimChiazzese1 opened #132 "Germany demo app updates"
Changes to the Germany FITCount demo.

- "Blütenreiche Wiesen und Weiden" (Grassland with wild flowers) was incorrect in transifex (lower case b) - this have now been updated in transifex.

- Extra space and full stop was in Transifex ( .Die App wird Dir mitteilen,) - this has now been updated in transifex
- Information page, change "http://ukpoms.org.uk/fit-counts" for https://www.ufz.de/spring-p

[2022-05-26 12:04] JimChiazzese1 opened #133 "Add Germany to FITCount website on Transifex"
Please can we add Germany to the FITCount website on transifex. If that's something that I can do myself, please do let me know
Thanks
jim

[2022-06-01 11:45] DavidRoy commented on #132
@JimChiazzese1 is that the right link?  Shouldn’t it be a link to the Ireland website not the ufz spring one?

[2022-06-01 12:22] JimChiazzese1 commented on #132
Sorry if that wasn't clear, when I said appear _under_ 'the all-ireland pollinator plan' - I meant physically appearing underneath as a new link, rather than linking to that text.
The new line will be the text EU-Projekt SPRING linking to the UFZ site www.ufz.de/spring-pollination/index.php?en=49053

[2022-06-08 07:46] kazlauskis commented on #132
Done.

[2022-06-08 07:46] #132 closed

[2022-06-13 08:17] larspett opened #134 "FIT Count app observations not uploading"
Hi,
Some of my volunteers in the mountains have problems uploading FITCount app data from June 10th. They have tried repeatedly and it doesn’t upload. I asked if the app was up to date and it should be, but one never knows… The user is "Leif Björk" and he has tried several times but doesn't want to restart the app in case the data is lost. Can you see if the data has been added to Indicia or if it

[2022-06-13 08:38] kazlauskis commented on #134
Hi, can you please send me the app version number and the exact time of an unsuccessful upload? I will then check our server logs.

Logout and login might help in this case. Restarting the app shouldn't loose any records.

[2022-06-13 11:09] larspett commented on #134
The  version is 1.1.3 build 144, he tried most recently at 11:21 CET (daylight savings time)

[2022-06-13 11:28] kazlauskis commented on #134
Thanks. This user should logout (uncheck "Discard local data" when prompted) and login back again. I think this should fix the upload issue.

[2022-06-13 12:36] larspett commented on #134
OK will check and confirm

[2022-06-14 09:23] JimChiazzese1 opened #135 "Chile to online demo"
Hi Karolis,
Chile is ready to move to the online demo. All translations done (as far as I can make out), spreadsheet updated, new images added to folders.
Thanks
Jim

[2022-06-15 12:59] JimChiazzese1 opened #136 "Germany translation fix and move to beta"
Hi Karolis,
Some more minor tweaks to the translation - see attached. Issues 2-6 have been changed in Transifex.
Issue 1 seems to have crept in when pulling in translation to the online demo (it's 'und' on transifex but appears as 'Und' on the demo app)
[Korrektur 6.22.pdf](https://github.com/NERC-CEH/fit-count-app/files/8909460/Korrektur.6.22.pdf)

Once these issues are updated please can we push

[2022-06-16 07:48] #126 closed

[2022-06-21 10:31] kazlauskis commented on #135
This is done now.

[2022-06-21 10:32] kazlauskis commented on #136
This is done now. App stores are still reviewing the new Beta build, which might take another day.

[2022-06-21 10:32] #136 closed

[2022-07-11 17:14] kitenetter opened #137 "Possible cause for some upload problems"
We are continuing to get reports of difficulties registering and uploading records. Richard Dawson has looked into this further and has unearthed some issues (that arose on iOS devices) that I have been able to replicate on Android.

When a user who first registers via the app, they are asked for an email address and their full name. Registration cannot be completed without providing these. The ac

[2022-07-11 17:22] kitenetter opened #138 "Editing user account is very cumbersome and includes unnecessary information"
Following on from #137 if a user does try to edit their account to add a first and last name, it is a very cumbersome process, especially if done on a small-screen device. I'm not sure if this is an issue related to the app or to the website (and the underlying Indicia infrastructure) - I think it is probably the latter.

Most importantly, the user if faced with a very long list of "Species groups

[2022-07-11 22:15] kazlauskis commented on #138
Tagging @andrewvanbreda 🙂

[2022-07-11 22:19] kazlauskis commented on #137
You should be able to upload records right after clicking that verification link. Isn't that the case?

[2022-07-12 07:12] andrewvanbreda commented on #138
@kazlauskis @kitenetter
Yes I will look into this.

[2022-07-12 07:48] andrewvanbreda commented on #138
@kazlauskis @kitenetter
I have made the requested changes, but not the ones about the name fields being added to app registration.

Some other possible oddities?
1. Do we want them to set Google Analytics
2. The contact checkbox has the label "I allow to be contacted", seems like a slightly odd way of writing this
UKPoMS says "Are you happy to be contacted?"
3. There is a Full Name field, not sure

[2022-07-12 09:04] DavidRoy commented on #138
1. Not needed as this is covered by the privacy notice.  We do not allow opt in/out
2. Agreed
3. I support simplification on this

[2022-07-12 09:14] BirenRathod commented on #138
@andrewvanbreda Is this for ukpoms.org.uk website or fitcount.ceh.ac.uk?

[2022-07-12 09:15] BirenRathod commented on #138
@andrewvanbreda

Is this for ukpoms.org.uk or fitcount.ceh.ac.uk?

[2022-07-12 09:17] kitenetter commented on #138
@BirenRathod this is for fitcount.ceh.ac.uk

[2022-07-12 09:19] BirenRathod commented on #138
Thanks @kitenetter. I have hidden that field now. It will help to track if there is an unusal activity happened.

[2022-07-12 10:49] andrewvanbreda commented on #138
@kitenetter @DavidRoy @BirenRathod
Have changed the label on the contact checkbox
Awaiting response from Karolis before taking any action regarding Full Name.

Martin
Was the account page always like this, or did it recently start becoming messy?

[2022-07-12 10:55] kitenetter commented on #138
@andrewvanbreda I'm not sure - we've had issues with the missing first name/last name for the last month or so, and I don't recall this being a problem before, but I can't be certain when or if things have changed. I don't recall seeing the long list of species groups when dealing with user accounts in the past, but I'm also aware that my memory is unreliable :)

[2022-07-12 11:06] andrewvanbreda commented on #138
@kitenetter
There is a possibility that things changed when the site was updated for anonymisation, as other bugs in the Indicia Easy Login module were also fixed at same time.
This can sometimes cause things to appear to go wrong even though the code is actually technically working better (for instance something might appear if it was incorrectly not showing before).
I don't know that happened in

[2022-07-14 07:29] JimChiazzese1 opened #139 "Brazil FITCount app not uploading"
Brazil users are reporting that they are unable to upload the surveys they've been taking in the last couple of days.
They can take the survey, but when they hit the icon / button “carrega”, it appears it's trying to do something, but nothing happens. I've asked them to confirm if they're trying to upload over WiFi or a strong connection.
Please let me know what we can do to trouble shoot.

[2022-07-14 08:11] JimChiazzese1 commented on #139
FYI - The Brazil team reporting the issue are all using iphone/iOS and have tried uploading counts both on wifi and 4g. I have just tried a FITCount on a google/android device, using the Brazil version of the app (in English) and placing my location at a random spot in Brazil and had no issue. The count uploaded and appears fine on FITCount.ceh.ac.uk. Suspect it may be an apple issue...

[2022-07-14 08:18] kazlauskis commented on #139
Can you please check which app version they are using? Also, ideally I would need a timestamp of the unsuccessful upload so that I can look into the server logs.

[2022-07-14 08:34] JimChiazzese1 commented on #139
Thanks Karolis. Will ask them to confirm. Regarding timestamp - Is there anyway to see that from the pending survey? The only detail I can see on the survey is the date. Assume you mean timestamp of exactly when they tried to upload (sorry, reread your comment, that makes more sense). Will request Brazil try and upload again and record exactly what time and send that through. Thanks

[2022-07-14 08:59] JimChiazzese1 opened #140 "Germany beta fixes"
Some minor changes to the Germany version. Most issues are correct on transifex and correctly imported, but after further review the translation does not work exactly so request is to change the text. Details are attached, the changes have been made in transifex
[FIT-Count_Beta_last corrections.docx](https://github.com/NERC-CEH/fit-count-app/files/9110276/FIT-Count_Beta_last.corrections.docx)

The

[2022-07-14 09:09] JimChiazzese1 commented on #140
Can confirm the ERFASSUNG STARTEN is an Apple issue.
![photo_2022-07-07_11-58-13](https://user-images.githubusercontent.com/84846811/178946781-965e1205-aab5-4d69-9f71-6bc5df43fdea.jpg)

[2022-07-14 12:17] JimChiazzese1 commented on #139
So far just details of one user account - saraiva@usp.br, user Antonio Saraiva, however he also states he's on version 1.1.3 (144), whereas I'm on v1.2.0(149) - I assume the android version automatically updates by default, whereas the iOS version may not?

[2022-07-14 12:31] kitenetter commented on #139
I can confirm that Antonio's account on the FIT Count website is currently missing a first and last name, which for UK users seems to result in the app failing to upload. @JimChiazzese1 do you want me to add the first and last name to his account, and then he can try again?

[2022-07-14 13:01] JimChiazzese1 commented on #139
Yes, please. Thanks Karolis.
Would there be a simple fix to this, eg making those fields mandatory?

[2022-07-14 13:05] kitenetter commented on #139
@JimChiazzese1 I've updated the fields for Antonio, and I will be very interested to find out if that now allows the records to be uploaded.

As to whether there is a simple fix, we're awaiting input from Karolis for issue #137 (but I think he's on leave?).

[2022-07-14 13:07] JimChiazzese1 commented on #139
Apologies @kitenetter and @kazlauskis - I didn't notice who had made which comments, and assumed it was all Karolis. Karolis is on leave but has been answering to comments. I'll request the user tries upload again.

[2022-07-14 13:50] kitenetter commented on #137
There is an increasing number of messages in the PoMS inbox from people who are unable to upload FIT Counts, all of which (so far) seem to be related to missing first and last names.

I think this must be a new problem? I don't recall it causing difficulties in the past.

[2022-07-15 09:04] JimChiazzese1 commented on #139
It's been verified by a UK user that logging in/out (and unchecking the relevant box) will work again once their name is updated on their account. This has been done on our end.
However, if a user goes to FITCount.ceh.ac.uk and updates their profile themselves (presuming missing name) and then logs out and back in - will that have the same effect as us (or rather @kitenetter) updating their detail

[2022-07-18 15:42] andrewvanbreda commented on #139
@kazlauskis
These fields are installed automatically installed by Indicia's Easy Login module, and that module is where my new code is contained.

So they are not part of the new code, however they are part of the standard Indicia easy_login Drupal module that has been installed.

Normally Indicia easy_login identifies the user from the warehouse using the last name in part.

Deleting could cause

[2022-07-18 15:54] andrewvanbreda commented on #139
@kazlauskis
Does your app code fill in the Drupal Indicia Warehouse Id field when an account is created? (field_indicia_user_id)

[2022-07-18 16:09] andrewvanbreda commented on #139
@kazlauskis
Sorry another question. If you don't have separate first name and surname fields, what is set in the Warehouse people table which has those fields separately?
Cheers

[2022-07-18 17:54] kazlauskis commented on #139
There is a single `field_full_name` value that is used for the warehouse ID. I agree it would be better to separate any account deletion functionality into its own module.

[2022-07-18 18:02] kazlauskis opened #141 "Remove first name and last name fields"
Follow up from #139.

The website already has a `field_full_name`. @andrewvanbreda

[2022-07-18 18:02] kazlauskis commented on #139
@kitenetter @JimChiazzese1 I have now fixed the website module to ignore the new user name fields and also fixed any user accounts affected by this (created in the last 2 weeks). This means that any newly registered as well as existing users can now upload surveys. Existing users might need to wait up to a day for their login session to renew - tomorrow it should work fine for everybody. Otherwise

[2022-07-18 18:02] #139 closed

[2022-07-18 18:05] #137 closed

[2022-07-18 18:06] kazlauskis commented on #134
@larspett Is this still an issue?

[2022-07-19 07:50] JimChiazzese1 commented on #140
That's right.
Does make me wonder if Germany didn't check their translations very carefully when initially doing it or if they're just more focussed than other countries. Cheers

[2022-07-19 08:28] andrewvanbreda commented on #141
Hi @kazlauskis

Have thought about this a bit. If we don't enable easy_login, I think we have the trouble that if the user updates their account on the website their details such as name it won't update on the Warehouse.

I am not sure what other implications not having easy_login enabled would have.

I am a little unsure of the current workflow. What code is actually creating the Indicia Warehous

[2022-07-19 09:11] johnvanbreda commented on #141
@andrewvanbreda you'd need to test it, but in theory everything will still work in the recording forms as long as the user profile has a field for indicia_user_id. The easy login module is responsible for filling this value in so you will need to recreate that code. As the warehouse expects a name to be split into first name and surname there may be complexities though.

The easy login module also

[2022-07-19 09:59] kazlauskis commented on #141
This site includes the [drupal-8-module-indicia-api](https://github.com/Indicia-Team/drupal-8-module-indicia-api/blob/master/indicia_api.module#L112) module that automatically sets the Indicia user ID to the profile. It uses a `user_insert` and `user_presave` hooks to check if the ID is missing and if so then fetches it. The full name is split in a [very simplified way](https://github.com/Indicia-

[2022-07-19 10:05] andrewvanbreda commented on #141
@kazlauskis
Thanks for the info. Will examine this situation.

[2022-07-19 10:55] kazlauskis commented on #140
No problem, I'll update the app and push it to the public app stores now.

[2022-07-19 13:17] JimChiazzese1 commented on #140
Great. Thanks - from memory that should auto-update for most users shouldn't it?

[2022-07-19 13:47] #140 closed

[2022-07-19 13:49] kazlauskis opened #142 "Add an option to delete user account in the app"
Same as [irecord-butterflies-app#107](https://github.com/NERC-CEH/irecord-butterflies-app/issues/107)

- [x] app
- [x] website

[2022-07-20 10:09] JimChiazzese1 opened #143 "Portugal to Transifex"
Portugal are planning to start on the FITCount app shortly. In theory much of the Brazilian translation should work for Brazil. Is it possible to set up Portugal on Transifex and also duplicate all the Brazilian (Portuguese) translations for the interface aspects of the FITCount. They can then edit as necessary and we can update with the species specific content when that's developed. Many thanks

[2022-07-21 17:16] kitenetter opened #144 "Linking users to country or region"
I think we've discussed this before, but it has arisen again today. I need to produce a mailing list for all UK FIT Count contributors who have given permission to be contacted. However, there is no mechanism within the website user accounts for users to specify which country they are participating in.

So the only way I can produce a UK mailing list is to link website accounts to samples in the w

[2022-07-22 08:23] DavidRoy commented on #144
@kazlauskis - can you capture the country selected by the app users when they setup the app?

Or the alternative as Martin suggests is asking this question on registration

[2022-07-22 11:41] kazlauskis commented on #140
The iOS German release was indeed rejected because of the lack of the account delete option. #142

[2022-07-22 11:55] kazlauskis commented on #143
Done now. I've split the current Portuguese into two:

<img width="1033" alt="Screenshot 2022-07-22 at 12 49 08" src="https://user-images.githubusercontent.com/7383162/180434054-d59b6107-d0a8-4ef9-a0c4-260cf3ab4df4.png">

[2022-07-22 11:55] #143 closed

[2022-07-22 12:27] kazlauskis commented on #144
I agree. We should use the country choice from the app onboarding. This would could then be uploaded to the website when the user registers or logins.

1. App onboarding - user chooses a country
2. Registration - the country is set to the user's website profile. We don't ask to specify the country again in the form, it is set in the background.

For any existing users, we could also upload this va

[2022-07-22 12:54] kitenetter commented on #144
@kazlauskis I agree with the approach you suggest, and I don't see any need to sync from the website to the app.

[2022-07-22 13:27] DavidRoy commented on #144
Thanks @kazlauskis.  Please can you add this to your schedule

[2022-07-26 13:42] kazlauskis commented on #142
This is done now and will appear under v2.3.0. There are some new interface terms to translate in Transifex.

[2022-07-26 13:42] #142 closed

[2022-07-26 13:43] #134 closed

[2022-07-27 09:46] andrewvanbreda commented on #141
Hi @kazlauskis @johnvanbreda

I have given this a test now, and created an "Easy login account deletion only" module on my machine.

I think my overall summary is, this should work mostly, but is not as elegant as when full easy_login is used.

WORKING WELL
- Data entry
- Reports
- My new account deletion code

LIMITATIONS
- Updating details on your user account will not reflect in the Warehouse p

[2022-07-27 10:53] johnvanbreda commented on #141
@andrewvanbreda I don't think the people table gets updated by Easy Login either. This is an area we need to review - but because the changes can't be automatically reflected back into other Drupal sites the account syncing is limited.

[2022-07-27 13:04] andrewvanbreda commented on #141
@johnvanbreda
It does, but I think it is very particular about when it does it.
For instance, the email address will update if they have only one website account. So that is my thinking, that it doesn't matter too much if FIT Count doesn't at all if it only does it sometimes anyway.

I guess we can probably go ahead. Will wait for Biren to respond.

[2022-07-27 14:56] johnvanbreda commented on #141
I agree. Just note that this area is something I plan to review so the main Easy Login functionality might be updated.

[2022-07-28 09:04] kazlauskis commented on #141
No, it doesn't. The app allows you to register, but that's about it.

[2022-07-28 12:37] kazlauskis commented on #69
We've done this one now.

This is how it used to look like for offline users:

![localhost_8000_survey_new_83660777-7fdf-4371-8ff5-74de8772d60c_location(iPhone SE (2020))](https://user-images.githubusercontent.com/7383162/181505986-e6124db7-e182-4383-9069-1df174c1ed07.png)

It looks like this now:

![localhost_8000_survey_new_3dc69647-19ac-4fba-b0f1-98508d01ad04_location(iPhone SE (2020)) (1)](htt

[2022-07-28 12:37] #69 closed

[2022-07-29 13:54] andrewvanbreda commented on #138
Hi @kitenetter
Please close this issue if you are happy now, as realised I don't have rights to close.
(The Full Name part of this issue is now being dealt with elsewhere. The First Name and Last Name were automatically installed by Indicia's Easy Login module. These have been removed with a workaround, and a permanent fix using a cutdown Easy Login module has been coded ,and will be put live as p

[2022-07-29 14:23] kitenetter commented on #138
Thanks @andrewvanbreda - closing.

[2022-07-29 14:23] #138 closed

[2022-08-01 15:59] andrewvanbreda commented on #141
@kazlauskis
Fit Count Live is now running a slim easy login module (easy_login_account_deletion_only).
I removed the first name and last name fields which still seemed to be present after easy_login was removed..
I checked this worked on my machine, but might be worth check that account deletion still fires the anonymiser.
So that would be to delete an account, and then we observe that the asscoci

[2022-08-01 16:01] andrewvanbreda commented on #141
@kazlauskis
Even if the anonymiser isn't tested, def worth you checking app hasn't been affected in general use like it was before.
I did get biren to take a FIT Count site backup in case of any issues.

[2022-08-02 08:29] JimChiazzese1 commented on #140
Thanks Karolis. Is there a timeline for the release of the account delete option? JUst back from a week away so catching up, apologies if this is covered in an email thread I've yet to get to. Jim

[2022-08-02 10:59] JimChiazzese1 commented on #69
Thanks Karolis. Including @CCarvell  on this as well.

To clarify then; If the user can't use the maps they can enter just GPS...if they can't do that either they can just add a location name.
Couple of questions:

1. Do we have any text that informs the user that if they can't use GPS or maps then they can enter a name and then update the location details at a later date when they submit the coun

[2022-08-03 11:20] kazlauskis commented on #69
1. The only text that helps the user with this scenario is in the screenshots.
2. Yes, the app won't allow to upload records without a valid location and will notify the user to fill it in if missing.

[2022-08-03 11:41] kazlauskis commented on #141
@andrewvanbreda the app works fine 👍 Please close the ticket if your part is done.

[2022-08-03 11:43] kazlauskis commented on #140
In short, this depends on how much we want to test the new app version. The longer answer I've sent to this over the email now 🙂

[2022-08-03 11:45] andrewvanbreda commented on #141
Hi @kazlauskis
Just realised I can't close, as I don't have sufficient rights.
Can you close, I will email John separately about where he wants the commits.
Cheers.

[2022-08-03 11:50] kazlauskis commented on #141
I sent you an invite now to join the repo maintainers.

[2022-08-03 11:50] #141 closed

[2022-08-03 12:14] andrewvanbreda commented on #141
@kazlauskis
Thanks, accepted :)

[2022-08-03 20:26] JimChiazzese1 commented on #69
Great. Thanks Karolis

[2022-08-17 12:44] JimChiazzese1 opened #145 "Automatically set/restrict language"
Germany and Chile have raised concerns about language settings. Should we have it set so that language is a two stage process. When selecting a country the language defaults to local language with the user having to go through region then language if they wish to change language. Should we also restrict it so that a count can only be done in the local language or the english related to that countr

[2022-08-17 22:35] CCarvell commented on #145
@JimChiazzese1 I am guessing the concerns are around your last point ie. a count being done in English but for the *wrong* country, in which case the options would not be correct as you suggest. Yes, selecting country first with a default to local language then proactively having to change language back to English would help this. @kazlauskis is this feasible in technical terms?
I can't remember i

[2022-08-19 07:54] kazlauskis commented on #145
The options are tied to countries rather than languages. If a user selects Brazil, the options will be for Brazil but shown in the currently selected language. If that language doesn't have a translation, then it will default to English. Some countries will have multiple languages so we might want to keep this flexibility.

@JimChiazzese1 The app currently automates the language selection. At the

[2022-08-31 15:28] JimChiazzese1 opened #146 "Chile flower change"
Chile would like to change the local language (Spanish, Chile only) of Fuschia to Chilco.
It does not need to change on the Chile English version, just the Chile Spanish, as it's the more common name locally.
However, when I search for Fuschia on Transifex it doesn't seem to appear in the Spanish, so not sure how we change this on Transifex?

[2022-09-05 11:06] kazlauskis commented on #146
You can find this plant under the Fuchsia name. It is already translated as Chilco in Transifex, so I have pulled in the new translations and updated the demo web app.

[2022-09-05 11:06] #146 closed

[2022-09-07 11:00] JimChiazzese1 opened #147 "Argentina content to online demo"
We've now had the content through from Argentina. Predominately they are using the same insect guides as Chile and Brazil, so new entries in insect guides is quite minimal with no new insect images. No new insect species or target habitats, but several new flower species.
The spreadsheet has been updated and flower images added to the share.
Please can this content be put into the online demo.
Tha

[2022-09-07 11:08] kazlauskis commented on #147
OK, will do.

[2022-09-14 09:12] JimChiazzese1 opened #148 "Chile to Beta"
Chile have confirmed that they are ready to beta test, with up to 20 ready to test. As discussed over email I will be suggesting a two week testing period. Please can we push Chile to Beta. Thanks Jim

[2022-09-15 08:54] kazlauskis commented on #148
I've done this now, the new Beta with Chile should come out today.

[2022-09-15 08:54] #148 closed

[2022-09-19 06:51] kazlauskis commented on #147
That's done now, the demo app will be updated in 15mins.

[2022-09-23 10:07] JimChiazzese1 opened #149 "Location feature mapping issue"
This may or may not be an issue that affects all live users. Brazil noticed that after they performed a count with GPS/Internet off that when they returned to a connection to submit the count, then the map would open by default as the UK and they would have to move the map to their region to search for the location.
Should the map automatically show their current location and then let them tweak?

[2022-09-23 10:38] JimChiazzese1 opened #150 "FITCount Brazil app camera issue"
Brazil have reported the following issue, but I am unable to replicate it on android on the live app. To me it sounds like it might be related to setting permissons for the app to use the camera, which may be different on iOS vs Android. Currently waiting for confirmation from Brazil about which platform they're on.

"I tried to take a photo with the camera, but using this option the app shut down

[2022-09-23 12:24] kazlauskis commented on #150
What is the device?

If the device has less than 4GB of RAM then it can't handle the camera app and the FIT apps together in the background.

[2022-09-23 13:44] kazlauskis commented on #149
At the moment, the user can click the GPS button and it will centre the map to the current location. This button was broken in the previous release but should be fixed in the v1.3.0 (165). Without any location it shows the UK map but we could make it centre to the selected country In the future.

Currently, there isn't a way to enter a missing location and jump to the upload screen. The survey is

[2022-09-27 09:47] JimChiazzese1 commented on #150
It's confirmed as android. I have no problem on my android, so will see if they're able to review the RAM on their device

[2022-09-27 10:19] JimChiazzese1 commented on #150
Motorola G7 Play, apparently has only 2gb of RAM, so would account for the issue. However, this is a 2019 phone, so not ancient really. Which means quite a few users may experience the same issue. If it's likely to be widespread we probably need to add a warning message or information of some sort?

[2022-09-29 07:39] kazlauskis commented on #150
It's an issue that has cropped up in some other projects too but, in general, it is a rare case and we haven't done anything about it in the past. Users with such low-end devices will experience the same issue with a number of other apps too so some will know this limitation already.

Ideally, we would show a warning in the app when the device has little RAM but there isn't an easy way to check fo

[2022-09-29 08:51] JimChiazzese1 commented on #150
Adding Claire to this for her thoughts @CCarvell - I have no idea if this is likely to be a more common issue in S.America vs EU countries.
If it's a rare case then I don't think we need to go as far as the second suggestion, but adding minimum requirements text seems a simple solution and gives the opportunity to explain the workaround (eg upload photo from gallery)

[2022-09-29 09:27] kazlauskis commented on #150
I agree, most of our other apps contain a "Help" page that explains how the app works, or its limitations.

[2022-09-29 09:28] JimChiazzese1 commented on #150
Do you have a sample you can share that we can modify to suit the FITCount?

[2022-09-29 09:30] kazlauskis commented on #150
Yeah, maybe the [FAQ in this one](https://irecord-butterflies.app.flumens.io/demo.html)?

[2022-10-10 12:49] JimChiazzese1 commented on #150
I think a comprehensive FAQ/How to page for the app will be a good idea in due course. Another thing for an country coordinators working group, once we get to that point. In the more immediate term, I was just thinking about a system requirements type note just to cover off the issue of the 2gb RAM. I didn't see anything similar on the butterflies app, but suspect you were sharing an idea of where

[2022-10-10 12:58] JimChiazzese1 opened #151 "Count submit feedback"
Karolis, I saw this pop up a while ago as a comment in Transifex, and seems a similar comment was made previously by Brazil that I'd missed.
If I understand correctly, when the count is submitted, the pop up message tells the users what the average count for is in the UK, regardless of which country version of the app the user is on. I need to verify this myself, but just wanted to run it by you.

[2022-10-11 07:29] kazlauskis commented on #150
Yes, that's right. We haven't put the minimal requirements section in any other project yet. But that might be because other projects focus on European users with more powerful phones, just a guess.